<kt-portlet>


	<kt-portlet-body>
		<div class="kt-form kt-margin-b-30">
			<div class="kt-login__body">
				<div class="kt-login__form">
					<div class="kt-login__title">
						<h1>{{update}} Page</h1>
					</div>
					<!-- <kt-auth-notice></kt-auth-notice> -->
					<form style="    margin: 0 auto;
					width: 70%;" class="kt-form" [formGroup]="loginForm" autocomplete="off">
						<div class="form-group">
							<mat-form-field >
								<mat-label>Page name</mat-label>
								<input matInput type="text" placeholder="Page name" formControlName="page_name" autocomplete="off" />
								<mat-error *ngIf="isControlHasError('page_name','required')">
									<strong>Page name is required</strong>
								</mat-error>
							</mat-form-field>
						</div>

						<div class="form-group">
							<mat-form-field >
								<mat-label>Page Link</mat-label>
								<input matInput type="text" placeholder="Page Link" formControlName="page_link" autocomplete="off" />
								<mat-error *ngIf="isControlHasError('page_link','required')">
									<strong>Page Link is required</strong>
								</mat-error>
							</mat-form-field>
						</div>


						<div class="form-group" style="display: none;">
							<mat-label>Page Content</mat-label>
							<mat-form-field>
							
								<textarea id="page_content" matInput formControlName="page_content"></textarea>
								<mat-error *ngIf="isControlHasError('page_content')">
									<strong>Page Content is required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="form-group"  style="display: none;">
							{{current_status}}
							<mat-form-field >
								<mat-label>Select Status</mat-label>
								<mat-select formControlName="page_status">
									<mat-option value="1">Active</mat-option>
									<mat-option value="0">InActive</mat-option>
								  </mat-select>
								<mat-error *ngIf="isControlHasError('page_status','required')">
									<strong>Page Status is required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="kt-login__actions">
							<button [disabled]="loading" (click)="submit()" style="width: 100px;"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Save</button>
							&nbsp;&nbsp;&nbsp;
							<a [routerLink]="['/builder']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the users list">
								<i class="la la-arrow-left"></i>
								<span class="kt-hidden-mobile">Back</span>
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>