<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					<span *ngIf="!getting">Location</span>
					<span *ngIf="getting">Loading....</span>
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
				<thead>
					<tr>
						<th>Sr.</th>
						<th>Title</th>
						<th>Address 1</th>
						<th>Address 2</th>
						<th>City</th>
						<th>State</th>
						<th>Country</th>
						<th>Status</th>
						<th>Created at</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let store of stores; let i = index;">
						<td>{{i+1}}</td>
						<td>{{store.title}}</td>
						<td>{{store.address1}}</td>
						<td>{{store.address2}}</td>
						<td>{{store.city}}</td>
						<td>{{store.county}}</td>
						<td>{{store.country}}</td>
						<td>{{store.account_status}}</td>
						<td>{{store.created_at}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>