<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/builder']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
			
			
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-home"></i>
					Edit Page Content
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="user">
						<form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								Change Header Video
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											fileChange($event)"
											 type="file" 
											 id="inputGroupFile01"
											 />
									</div>
									 
								</div>
								<video width="320" height="240" controls>
									<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">		
										
								  Your browser does not support the video tag.
								</video>
							</div>
							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								1. Right Photo 
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_three_fun($event)"
											 type="file" 
											
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_three"  src="assets/page/{{page_data?.traveldesign?.pic_three}}"  alt="pic_three" width="240" height="240">

							</div>
							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								2. Left Photo 
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_one_fun($event)"
											 type="file" 
											
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_one"  src="assets/page/{{page_data?.traveldesign?.pic_one}}"  alt="pic_one" width="240" height="240">

							</div>

							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								3. Right Photo
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_two_fun($event)"
											 type="file" 
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_two"  src="assets/page/{{page_data?.traveldesign?.pic_two}}"  alt="pic_two" width="240" height="240">
							</div>

							<br><br><br>
							
							<div class="kt-form__section kt-form__section--first">
								1. Right Content
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea matInput rows="4" cols="50"
											 id="content_three"
											 formControlName="content_three">
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								2. Right Content
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.content_one" matInput rows="4" cols="50"
											 id="content_two"
											 formControlName="content_two">
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								3. Left Content
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<textarea *ngIf="page_data?.traveldesign?.content_one" rows="4" cols="50" matInput
											 id="content_one"
											 formControlName="content_one">
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							

							

							
						</form>
					</div>
					<!--end::Form-->
					<span style="color: green">{{message}}</span>
				</ng-template>
			</mat-tab>
			
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
