<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/builder']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
			
			
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-home"></i>
					Edit Page Content
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="user">
						<form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>

							<div class="kt-form__section kt-form__section--first">
								Page Title
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<textarea *ngIf="page_data?.traveldesign?.page_title" matInput rows="1" cols="50"
											 id="page_title"
											 formControlName="page_title">
											 </textarea>
									</div>
									 
								</div>
								
							</div>


							<div class="kt-form__section kt-form__section--first">
								Mission Statement
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.content_one" matInput rows="4" cols="50"
											 id="content_one"
											 formControlName="content_one">
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<!-- Popup Start -->


							<div class="kt-form__section kt-form__section--first">
								The SharkPad Way 
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.sharkpads_way_text" matInput rows="6" cols="50"
											 id="sharkpads_way_text"
											 formControlName="sharkpads_way_text">{{page_data?.traveldesign?.sharkpads_way_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Personal Portfolio
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.personal_portfolio_text" matInput rows="6" cols="50"
											 id="personal_portfolio_text"
											 formControlName="personal_portfolio_text">{{page_data?.traveldesign?.personal_portfolio_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Technology
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.technology_text" matInput rows="6" cols="50"
											 id="technology_text"
											 formControlName="technology_text">{{page_data?.traveldesign?.technology_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Community Relations
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.community_relations_text" matInput rows="6" cols="50"
											 id="community_relations_text"
											 formControlName="community_relations_text">{{page_data?.traveldesign?.community_relations_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Identification
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.identification_text" matInput rows="6" cols="50"
											 id="identification_text"
											 formControlName="identification_text">{{page_data?.traveldesign?.identification_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Contract And Negotitations
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.contract_and_negotitations_text" matInput rows="6" cols="50"
											 id="contract_and_negotitations_text"
											 formControlName="contract_and_negotitations_text">{{page_data?.traveldesign?.contract_and_negotitations_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Industry Insight
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.industry_insight_text" matInput rows="6" cols="50"
											 id="industry_insight_text"
											 formControlName="industry_insight_text">{{page_data?.traveldesign?.industry_insight_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Partner Popup
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.partner_text" matInput rows="6" cols="50"
											 id="partner_text"
											 formControlName="partner_text">{{page_data?.traveldesign?.partner_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Security Popup
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.security_text" matInput rows="6" cols="50"
											 id="security_text"
											 formControlName="security_text">{{page_data?.traveldesign?.security_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
								Revenue Management Reporting
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.revenue_management_reporting_text" matInput rows="6" cols="50"
											 id="revenue_management_reporting_text"
											 formControlName="revenue_management_reporting_text">{{page_data?.traveldesign?.revenue_management_reporting_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
<<<<<<< HEAD
								Marketing And Branding
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
					<textarea *ngIf="page_data?.traveldesign?.marketing_and_branding_text" matInput rows="6" cols="50"
											 id="marketing_and_branding_text"
											 formControlName="marketing_and_branding_text">{{page_data?.traveldesign?.marketing_and_branding_text}}
											 </textarea>
									</div>
									 
								</div>
								
							</div>

							<div class="kt-form__section kt-form__section--first">
=======
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
								Change Header Image
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											fileChange($event)"
											 type="file" 
											 id="inputGroupFile01"
											 />
									</div>
									 
								</div>
<<<<<<< HEAD
								<img *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}"  alt="pic_one" width="240" height="240" style="display: none;">
								<video width="320" height="240" controls>
=======
								<img *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}"  alt="pic_one" width="240" height="240">
								<video width="320" height="240" controls style="display: none;">
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
									<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
										<source *ngIf="page_data?.traveldesign?.header_video"  src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">		
										
								  Your browser does not support the video tag.
								</video>
							</div>
							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								1. Photo
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_one_fun($event)"
											 type="file" 
											 
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_one"  src="assets/page/{{page_data?.traveldesign?.pic_one}}"  alt="pic_one" width="240" height="240">
							</div>
							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								2. Photo 
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_two_fun($event)"
											 type="file" 
											
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_two"  src="assets/page/{{page_data?.traveldesign?.pic_two}}"  alt="pic_two" width="240" height="240">

							</div>

							<br><br><br>
							<div class="kt-form__section kt-form__section--first">
								3. Photo
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_three_fun($event)"
											 type="file" 
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_three"  src="assets/page/{{page_data?.traveldesign?.pic_three}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								4. Personal Portfolio
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'personal_portfolio')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.personal_portfolio"  src="assets/page/{{page_data?.traveldesign?.personal_portfolio}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								5. Technology
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'technology')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.technology"  src="assets/page/{{page_data?.traveldesign?.technology}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								6. Community Relations
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'community_relations')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.community_relations"  src="assets/page/{{page_data?.traveldesign?.community_relations}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								7. Identification
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'identification')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.identification"  src="assets/page/{{page_data?.traveldesign?.identification}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								8. Contract And Negotitations
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'contract_and_negotitations')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.contract_and_negotitations"  src="assets/page/{{page_data?.traveldesign?.contract_and_negotitations}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								9. Partner
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'partner')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.partner"  src="assets/page/{{page_data?.traveldesign?.partner}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>

							<div class="kt-form__section kt-form__section--first">
								10. Security
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'security')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.security"  src="assets/page/{{page_data?.traveldesign?.security}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>
	
							<div class="kt-form__section kt-form__section--first">
								11. SharkPad Way
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'sharkpads_way')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.sharkpads_way"  src="assets/page/{{page_data?.traveldesign?.sharkpads_way}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>
	
							<div class="kt-form__section kt-form__section--first">
								12. Revenue Management Reporting
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'revenue_management_reporting')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.revenue_management_reporting"  src="assets/page/{{page_data?.traveldesign?.revenue_management_reporting}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>
	
							<div class="kt-form__section kt-form__section--first">
								12. Marketing And Branding
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'marketing_and_branding')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.marketing_and_branding"  src="assets/page/{{page_data?.traveldesign?.marketing_and_branding}}"  alt="pic_three" width="240" height="240">
							</div>
							<br><br><br>
	
							<div class="kt-form__section kt-form__section--first">
								13. Industry Insight
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_chnage($event,'industry_insight')"
											 type="file" 
											>
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.industry_insight"  src="assets/page/{{page_data?.traveldesign?.industry_insight}}"  alt="industry_insight" width="240" height="240">
							</div>
							<br><br><br>
	


							
							
						</form>
					</div>
					<!--end::Form-->
					<span style="color: green">{{message}}</span>
				</ng-template>
			</mat-tab>
			
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
