<!DOCTYPE html>
<html lang="en">

<head>
    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main real-estate-inner">

 
<main id="main">

    <div class="loading" *ngIf="loading_img">
        <img src="assets/img/siteloader.gif" alt="loading">    
    </div>

    <div id="mySidenav" class="sidenav" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD

                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_five_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu only_five_menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="scrollToID('inquire_now', 0)">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name == 'SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_two_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                        <ul class="sub-menu life_invest_menu only_two_menu" style="display: none;">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                        </ul>    

                         </a>
                    </li>    
                    </ng-container>


                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container> 
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>            
        </ul>
       </div>

<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 text-center">
            <ul class="menu_header" *ngIf="menus">
                <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
            </ng-container>                  
=======
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>            
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header class="real-estate-inner">
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>			
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li> 
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>      
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>     
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                         </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 

                         <span class="icon-sub-menu" (click)="displayallmenu($event,1)"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a class="life_style" routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu" (click)="displayallmenu2($event,1)"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>               
        </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-8 text-right">
            <img src="assets/img/right-side-menu-icon.png" class="side-meu" alt="" (click)="openNav()">
            <a routerLink="/rentals" class="mobil-search"><img src="assets/img/search.png" class="search" alt=""></a>
        </div>
    </div>
    
    <div class="overlay"></div>

    <div id="background" *ngIf="page_data?.traveldesign?.header_video" style="background: url('assets/page/{{page_data?.traveldesign?.header_video}}') repeat-x"></div>

<<<<<<< HEAD
    <video style="display: none;" loop [muted]="true" controls id="myVideo" autoplay playsinline>
=======
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline style="display: none;">
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
    <!--<video id="autoplay" muted playsinline controls>-->
            <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
            <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
            <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">    
            <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">    
    </video>

<<<<<<< HEAD
    <div class="vartical-middle-flex text-center make_over">
        <h1>{{page_data?.traveldesign?.page_title}} <div class="dfd-heading-delimiter"></div></h1>
=======
    <div class="vartical-middle-flex text-center">
        <h1>INVEST <div class="dfd-heading-delimiter"></div></h1>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
    </div>
  
</header> 

<section class="weather-privacy the-sharkpad-mission" id="mission_statement" *ngIf="!loading_img">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 text-center">
                <div class="wow animate__zoomIn">
                <h1 style="font-size: 35px;" class="wow animate__fadeInRight">Mission Statement</h1>
                <div class="dfd-heading-delimiter"></div>
                </div>  
                <div class="dfd-animate-container wow animate__zoomIn">
                    <div class="description" style="font-size: 18px; line-height: 31px;margin-top: 30px; ">{{mission_statement}}</div>					
				</div>    
            </div>

        </div>
    </div>
</section>    
   

<ng-template #mymodal_1 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <section class="exprince add-back" id="content"> 
        <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
            <div class="right-sec-center">
                <div innerHTML={{page_data?.traveldesign?.sharkpads_way_text}}></div>
                <button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
            </div>
            </div>
        </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<ng-template #mymodal_2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;">
                <div class="right-sec-center">
                <div innerHTML={{page_data?.traveldesign?.industry_insight_text}}></div>    
                <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>  
                </div>
            </div>
          </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
    
<section class="exprince add-back the-sharkpad-way" id=""> 
    <div class="eprince-inner animation-element" style="margin-top: -5px;">
        <div class="right-sec-exprince make_over_animate" style="border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        
        <div class="wow animate__zoomIn">    
            <div innerHTML="{{page_data?.traveldesign?.sharkpads_way_text | slice:0:200 }}"></div>
        </div>

        <div class="col-md-12" *ngIf="sharkpad_way"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>         
        <div class="col-md-12" *ngIf="!sharkpad_way"><button type="button" class="inqure btn" (click)="open(mymodal_1)">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
           
        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
            <img src="assets/page/{{page_data?.traveldesign?.sharkpads_way}}" alt="sharkpads_way" class="only_desktop_show">
        </div>
    </div>
    <div class="eprince-inner" id="industry_insight">
        <div class="left-sec-exprince">
        <img src="assets/page/{{page_data?.traveldesign?.industry_insight}}" alt="industry_insight" class="only_desktop_show">
        </div>
        <div class="right-sec-exprince">
            <div class="right-sec-center">
            <div class="wow animate__fadeInRight">    
                <div innerHTML="{{page_data?.traveldesign?.industry_insight_text | slice:0:292 }}"></div>
            </div>    
            <p style="margin-top: 30px;" *ngIf="industry_insight">Vacation rentals have been thriving during the pandemic.  Airbnb has recently gone public with one of the biggest IPO’s in 2020 and will only continue to create scenarios favorable to the short term rental market. Vaccines are expected to be widely distributed by summer of 2021.</p>      
            
            <div class="col-md-12" *ngIf="industry_insight"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>  
            <div class="col-md-12" *ngIf="!industry_insight"><button (click)="open(mymodal_2)" type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>   
            
            </div>
        </div>
    </div>
    
    
</section>
        <section class="sharkpad the-sharkpad-services" style="padding: 60px 0 70px 0;" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
<<<<<<< HEAD
                <div class="wow animate__fadeInRight">
                <h1>Services </h1>
                <div class="dfd-heading-delimiter"></div>
                </div>    
            </div>
        </div>
    </div>
</section>
        
<ng-template #mymodal_3 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                <div innerHTML={{page_data?.traveldesign?.identification_text}}></div>    
                
        
                <div class="col-md-12 text-center" style="margin-top: 15px;">
                    <div class="col-md-12 text-center" style="margin-top:0px">
                    <div class="wow animate__fadeInRight">    
                    <h1 style="font-size:25px; margin-top:25px;font-weight: 400;
                               ">Our Agency Affiliations
        </h1>
                        </div>    
                    </div>    
                    <div class="col-md-12 text-center" style="margin-top: -20px"><img style="cursor: pointer;" class="sec-logo" (click)="goToUrl('https://www.harrynorman.com/')" src="assets/img/main-logo-1.png" alt=""> 
                        <img style="cursor: pointer;" (click)="goToUrl('https://www.christiesrealestate.com/')" class="sec-logo" src="assets/img/main-logo-3.png" alt="">
                </div>
                </div>    
            
                <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
        
                </div>
                </div>
          </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
<section class="exprince add-back the-sharkpad-identification" id="content"> 
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">    
            <div innerHTML="{{page_data?.traveldesign?.identification_text | slice:0:292 }}"></div>
        </div>    
        
        <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" *ngIf="hidden" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!Identification"  (click)="open(mymodal_3)" type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    

        <div class="col-md-12 text-center" style="margin-top: 15px;" *ngIf="hidden">
            <div class="col-md-12 text-center" style="margin-top:0px">
            <div class="wow animate__fadeInRight">    
            <h1 style="font-size:25px; margin-top:25px;font-weight: 400;
                       ">Our Agency Affiliations
</h1>
                </div>    
            </div>    
            <div class="col-md-12 text-center" style="margin-top: -20px"><img style="cursor: pointer;" class="sec-logo" (click)="goToUrl('https://www.harrynorman.com/')" src="assets/img/main-logo-1.png" alt=""> 
                <img style="cursor: pointer;" (click)="goToUrl('https://www.christiesrealestate.com/')" class="sec-logo" src="assets/img/main-logo-3.png" alt="">
        </div>
        </div>    
    


        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
        <img src="assets/page/{{page_data?.traveldesign?.identification}}" alt="identification" class="only_desktop_show">
        </div>
    </div>
</section>        
        
        
<section class="sharkpad find-sharkpad the-sharkpad-agency" style="background-color: transparent !important;" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="wow animate__zoomIn">
                <h1>Our Agency Affiliations</h1>
                <div class="dfd-heading-delimiter"></div>
                </div>    
                <ul>
                <li style="cursor: pointer;"><img (click)="goToUrl('https://www.harrynorman.com/')" src="assets/img/main-logo-1.png" alt=""></li>
                <li style="cursor: pointer;"><img (click)="goToUrl('https://www.christiesrealestate.com/')" src="assets/img/main-logo-3.png" alt=""></li>
=======
                
                <div class="wow animate__zoomIn">    
                    <h1>Our affiliates</h1>
                    <div class="dfd-heading-delimiter"></div>
                </div>

                <ul>
                    <li><a href="https://www.harrynorman.com/agents/80732-the-sharkpad-group"><img src="assets/page/{{page_data?.traveldesign?.pic_one}}" alt=""></a></li>
                    <li><a href="https://www.christiesrealestate.com/"><img src="assets/page/{{page_data?.traveldesign?.pic_two}}" alt=""></a></li>
                    <li><a href="https://sharkpads.com/"><img src="assets/page/{{page_data?.traveldesign?.pic_three}}" alt=""></a></li>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
            </div>
        </div>
    </div>
</section>    

<ng-template #mymodal_4 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.contract_and_negotitations_text}}></div>    
                    <div class="col-md-12"><button *ngIf="!hidden" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
                    </div>
                </div>
          </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>


<ng-template #mymodal_5 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.community_relations_text}}></div>    
                    <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>        
                </div>
            </div></div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #mymodal_6 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.security_text}}></div>    
                    
                        <div class="col-md-12 text-center" style="margin-top: 15px;">
                            <div class="col-md-12 text-center" style="margin-top: 25px">
                            <div class="">    
                            <h1 style="font-size:25px;margin-top: -22px;font-weight: 400;
                                       ">OUR PARTNERS</h1>
                                </div>    
                            </div>    
                            <div class="col-md-12 text-center" style="margin-top: 15px"><img style="cursor: pointer;" (click)="goToUrl('https://www.generali.com/')" src="assets/img/main-logo-5.png" class="sec-logo" alt=""> </div>
                        </div>    

                        <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div> 
                </div>  
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
        
<section class="exprince add-back the-sharkpad-contracts" id="content"> 
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="left-sec-exprince">
            <img src="assets/page/{{page_data?.traveldesign?.contract_and_negotitations}}" alt="contract_and_negotitations" class="only_desktop_show">
        </div>

        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
            <div class="right-sec-center">
            <div class="wow animate__fadeInRight">    
                <div innerHTML="{{page_data?.traveldesign?.contract_and_negotitations_text | slice:0:200 }}"> </div>
            </div>    
            <div class="col-md-12"><button *ngIf="negotiations" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!negotiations" (click)="open(mymodal_4)" type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
            </div>
        </div>
       
    </div>
    <div class="eprince-inner">
       
        <div class="right-sec-exprince">
        <div class="right-sec-center">
        <div class="wow animate__zoomIn">    
            <div innerHTML="{{page_data?.traveldesign?.community_relations_text | slice:0:300 }}"></div>
        </div>    
         

        <div class="col-md-12"><button *ngIf="community" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!community" (click)="open(mymodal_5)" type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>        
        </div>
        </div>

        <div class="left-sec-exprince">
            <img src="assets/page/{{page_data?.traveldesign?.community_relations}}" alt="community_relations" class="only_desktop_show">
        </div>
    </div>
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="left-sec-exprince" style="float: left;">
            <img src="assets/page/{{page_data?.traveldesign?.security}}" alt="security" class="only_desktop_show">
            </div>
        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">    
            <div innerHTML="{{page_data?.traveldesign?.security_text | slice:0:200 }}"></div>
        </div>    
        <div class="col-md-12"><button *ngIf="hidden" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!security" type="button" (click)="open(mymodal_6)"  class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div> 
            <div  *ngIf="hidden" class="col-md-12 text-center" style="margin-top: 15px;">
                <div class="col-md-12 text-center" style="margin-top: 25px">
                <div class="wow animate__fadeInRight">    
                <h1 style="font-size:25px;margin-top: -22px;font-weight: 400;
                           ">OUR PARTNERS</h1>
                    </div>    
                </div>    
                <div  *ngIf="hidden" class="col-md-12 text-center" style="margin-top: 15px"><img style="cursor: pointer;" (click)="goToUrl('https://www.generali.com/')" src="assets/img/main-logo-5.png" class="sec-logo" alt=""> </div>
            </div>    
        </div>
        </div>
        
    </div>
    
</section>  


<ng-template #mymodal_7 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.technology_text}}></div>    
                    <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
                         
                    </div>
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #mymodal_9 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.marketing_and_branding_text}}></div>    
                    <div class="col-md-12 text-center" style="margin-top: 15px;">
                            <div class="col-md-12 text-center" style="margin-top: 25px">
                            <div class="">    
                            <h1 style="font-size:25px; margin-top:25px;font-weight: 400;
                                       ">OUR PARTNERS</h1>
                                </div>    
                            </div>    
                        <div class="col-md-12 text-center" style="margin-top: 15px"><img style="cursor: pointer;" (click)="goToUrl('https://www.vrbo.com/9304510ha')" src="assets/img/main-logo-4.png" class="sec-logo" alt=""> 
                            <img style="cursor: pointer;" (click)="goToUrl('https://www.airbnb.com/users/235413033/listings?user_id=235413033&s=50  ')" src="assets/img/preview-full-airbnb-new.jpeg" class="sec-logo" alt=""> 
                        </div>
                    </div>    

                    <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
                        
                    </div>
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
    
<section class="exprince add-back the-sharkpad-experiance" id="content"> 
    
    <div class="eprince-inner">
       
        <div class="right-sec-exprince">
        <div class="right-sec-center">
        <div class="wow animate__zoomIn">    
            <div innerHTML="{{page_data?.traveldesign?.technology_text | slice:0:300 }}"></div>
        </div>    
        
        <div class="col-md-12"><button *ngIf="hidden" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!technology" type="button" (click)="open(mymodal_7)"   class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
             
        </div>
        </div>

        <div class="left-sec-exprince" style="float: right;">
            <img src="assets/page/{{page_data?.traveldesign?.technology}}" alt="technology" class="only_desktop_show">
            </div>
    </div>
    
    <div class="eprince-inner" style="margin-top: -5px;">

        <div class="left-sec-exprince" style="float: left">
            <img src="assets/page/{{page_data?.traveldesign?.marketing_and_branding}}" alt="marketing_and_branding" class="only_desktop_show">
            </div>

        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">    
            <div innerHTML="{{page_data?.traveldesign?.marketing_and_branding_text | slice:0:220 }}"></div>
        </div>    
        <div class="col-md-12"><button *ngIf="hidden" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!branding" type="button" (click)="open(mymodal_9)"  class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
        <div *ngIf="hidden"  class="col-md-12 text-center" style="margin-top: 15px;">
                <div class="col-md-12 text-center" style="margin-top: 25px">
                <div class="wow animate__fadeInRight">    
                <h1 style="font-size:25px; margin-top:25px;font-weight: 400;
                           ">OUR PARTNERS</h1>
                    </div>    
                </div>    
                <div class="col-md-12 text-center" style="margin-top: 15px"><img style="cursor: pointer;" (click)="goToUrl('https://www.vrbo.com/9304510ha')" src="assets/img/main-logo-4.png" class="sec-logo" alt=""> 
                <img style="cursor: pointer;" (click)="goToUrl('https://www.airbnb.com/users/235413033/listings?user_id=235413033&s=50  ')" src="assets/img/main-logo-2.png" class="sec-logo" alt=""> 
            </div>
            </div>    
            
        </div>
        </div>
        
    </div>
    
    
    
    
</section>    
        

<ng-template #mymodal_10 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
                <div class="right-sec-center">
                    <div innerHTML={{page_data?.traveldesign?.revenue_management_reporting_text}}></div>    
                    <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
                </div>
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
        
<section class="exprince add-back the-sharkpad-revenue" id="content"> 
    
    
<div class="eprince-inner">
        
        <div class="right-sec-exprince">
        <div class="right-sec-center">
        <div class="wow animate__zoomIn">    
            <div innerHTML="{{page_data?.traveldesign?.revenue_management_reporting_text | slice:0:221 }}"></div>
        </div>
        <div class="col-md-12"><button type="button" (click)="open(mymodal_10)"   class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
        </div>
        </div>

        <div class="left-sec-exprince">
            <img src="assets/page/{{page_data?.traveldesign?.revenue_management_reporting}}" alt="revenue_management_reporting" class="only_desktop_show">
            </div>
    </div>    

    
    
</section>    
        
        
<section class="sharkpad the-sharkpad-investment" style="padding: 60px 0 70px 0;" id="investment_options">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
<<<<<<< HEAD
                <div class="wow animate__zoomIn" style="visibility: visible; animation-name: zoomIn;">
                <h1>Investment Options</h1>
                <div class="dfd-heading-delimiter"></div>
                </div>    
            </div>
        </div>
    </div>
</section>  


<ng-template #mymodal_11 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
        <div class="right-sec-exprince" style="width: 100%;height: auto;">
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-center" style="width:100%;height: auto;">
                <div innerHTML={{page_data?.traveldesign?.personal_portfolio_text}}></div>    
                <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>        
            </div>
        </div></div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>

<ng-template #mymodal_12 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content">
        <div class="right-sec-exprince" style="width: 100%;height: auto;"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-center"  style="width:100%;height: auto;">
                <div innerHTML={{page_data?.traveldesign?.partner_text}}></div>    
                <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
                </div>
            </div>
        </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
        
<section class="exprince add-back the-sharkpad-portfolio" id="content"> 
    
    <div class="eprince-inner">
        <div class="left-sec-exprince">
            <img src="assets/page/{{page_data?.traveldesign?.personal_portfolio}}" alt="personal_portfolio" class="only_desktop_show">
        </div>
        <div class="right-sec-exprince">
        <div class="right-sec-center">
        <div class="wow animate__zoomIn">    
            <div innerHTML="{{page_data?.traveldesign?.personal_portfolio_text | slice:0:200 }}"></div>
        </div>    
        <div class="col-md-12"><button *ngIf="hidden" (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button><button *ngIf="!portfolio" (click)="open(mymodal_11)"  type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>        
        </div>
        </div>
    </div>
</section>
        
        
        
<section class="exprince add-back the-sharkpad-partners" id="content"> 
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="right-sec-exprince" style="border-top-width: 20px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">    
            <div innerHTML="{{page_data?.traveldesign?.partner_text | slice:0:200 }}"></div>
        </div>    
        <div class="col-md-12"><button type="button" (click)="open(mymodal_12)" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
            <img src="assets/page/{{page_data?.traveldesign?.partner}}" alt="partner" class="only_desktop_show">
        </div>
    </div>
    
</section>         

<section class="sharkpad the-sharkpad-inquire" id="inquire_now">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow animate__zoomIn">
                <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                <div class="dfd-heading-delimiter"></div>
=======
                
                <div class="wow animate__zoomIn">    
                    <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                    <div class="dfd-heading-delimiter"></div>
                </div>

>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                <div class="col-md-12">
                <button class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>    

<section class="sharkpad-slider the-sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section> 

    
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">       
                    <h1>SharkPads</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div
                >
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">

                <div class="wow animate__fadeInRight">       
                    <h1>Navigation</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>               
                </ul>    
                </div>

                <div class="col-md-4">

                <div class="wow animate__fadeInRight">           
                    <h1>Follow Us On</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>  
                    <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>        
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>      
    
    
</main>
</body>
</html>