<section class="sharkpad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div innerHTML={{page_data?.traveldesign?.common_content}}></div><div class="dfd-heading-delimiter"></div>
                <div class="col-md-12">
                <button class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>    
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive">
            <div>
                <img src="assets/img/slider-img-1.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">TRAVEL DESIGN</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-2.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">LIFESTYLE</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-3.png" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">REAL ESTATE</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-4.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">REAL ESTATE</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-1.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">VACATIONS</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-2.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">LIFESTYLE</div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-3.png" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">HOSPITALITY </div></div>
            </div>
            <div>
                <img src="assets/img/slider-img-4.jpg" alt="" />
                <div class="content-wrap"><div class="info-box-title feature-title" style="">REAL ESTATE</div></div>
            </div>
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section>  
    
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h1>SharkPads</h1>
                <div class="dfd-heading-delimiter"></div>    
                <div innerHTML={{page_data?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">
                <h1>Navigation</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="menu_header">
                    <li><a (click)="menu_navigate(' ')">HOME</a></li>    
                    <li><a (click)="menu_navigate('traveldesign')">TRAVEL DESIGN</a></li>    
                    <li><a (click)="menu_navigate('rentals')">RENTALS</a></li>    
                    <li><a (click)="menu_navigate('real_estate')">REAL ESTATE</a></li>    
                    <li><a (click)="menu_navigate('life_style')">LIFESTYLE</a></li>    
                    <li class="active"><a (click)="menu_navigate('inquire')">INQUIRE</a></li>    
                </ul>    
                </div>

                <div class="col-md-4">
                <h1>Follow Us On</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="social-details">
                <li><a href="https://www.facebook.com/SharkPads"><img src="assets/img/facebook.png" alt=""></a></li>
                <li><a href="https://www.instagram.com/SharkPads/"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                <li><a href="https://linkedin.com/sharkpads"><img src="assets/img/linkedin.png" alt=""></a></li>
                <li><a href="https://twitter.com/sharkpads"><img src="assets/img/twitter.png" alt=""></a></li>
                <li><a href="https://sharkpads.com/#"><img src="assets/img/tik-tok.png" alt=""></a></li>      
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>  
    
</main>
</body>
</html>