<!DOCTYPE html>
<html lang="en">
<head>    


   
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
  
  
</head>

<body>

 
<main id="main">
    
    <div class="loading" *ngIf="loading_img">
        <img src="assets/img/siteloader.gif" alt="loading">    
    </div>

    <div id="mySidenav" class="sidenav" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD

                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_five_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu only_five_menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="scrollToID('inquire_now', 0)">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name == 'SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_two_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                        <ul class="sub-menu life_invest_menu only_two_menu" style="display: none;">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                        </ul>    

                         </a>
                    </li>    
                    </ng-container>


                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container> 
                </ng-container>
            </ng-container>            
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
       </div>
    
<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 text-center">
        
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
            </ng-container> 
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>

        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div> 

<header>
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>				
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li> 
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>       
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>       
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
<<<<<<< HEAD
            
            <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
            </ng-container>     
       
=======
            <ul class="menu_header">
                <ng-container *ngFor="let menu of menus;">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container> 
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-8 text-right">
            <img src="assets/img/right-side-menu-icon.png" class="side-meu" (click)="openNav()" alt="">
            <a routerLink="/rentals" class="mobil-search"><img src="assets/img/search.png" class="search" alt=""></a>
        </div>
    </div>
    
    <div class="overlay"></div>
<<<<<<< HEAD
    <video loop [muted]="true" controls id="myVideo" autoplay disablepictureinpicture controlsList="nodownload" autoplay="autoplay" loop muted playsinline>
=======
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
    <!--<video id="autoplay" muted playsinline controls>-->
        <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/mp4">
        <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/webm">
        <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/ogg">    
        <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/quicktime">    
    </video>

    <div class="vartical-middle-flex" style="display: none;">
        <button type="button" id="myVideo_play" class="play-btn"><img src="assets/img/play-video-icon.png" alt=""> Play Video</button>
    </div>
  
</header>   
     
<section class="sharkpad">
    <div class="container wow animate__zoomIn">
        <div class="row">
            <div class="col-md-12 text-center">
                <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                <div class="dfd-heading-delimiter"></div>
                <div class="col-md-12">
                <a routerLink="/inquire"><button class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></a>
                </div>
            </div>
        </div>
    </div>
</section>    
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section>

<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">    
                    <h1>SharkPads</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">    
                    <h1>Navigation</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>   
                </ul>    
                </div>

                <div class="col-md-4">
                    
                <div class="wow animate__fadeInRight">       
                    <h1>Follow Us On</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>        
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li> 
                    <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>         
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>  
</main>
</body>
</html>