<kt-portlet>
	<kt-portlet-header>

	</kt-portlet-header>
	<kt-portlet-body>
		<div class="kt-form kt-margin-b-30">
			<div class="kt-login__body">
				<div class="kt-login__form">
					<div class="kt-login__title">
						<h1>{{update}} Slide</h1>
					</div>
					<!-- <kt-auth-notice></kt-auth-notice> -->
					<form style="    margin: 0 auto;
					width: 70%;" class="kt-form" [formGroup]="loginForm" autocomplete="off">
					
						<div class="form-group">
							<mat-form-field >
								<mat-label>Caption</mat-label>
								<input matInput type="text" placeholder="Caption" formControlName="caption" autocomplete="off" />
								<mat-error *ngIf="isControlHasError('caption','required')">
									<strong>caption is required</strong>
								</mat-error>
							</mat-form-field>
						</div>
						
						<div class="form-group">
							<mat-form-field >
								<mat-label>Link</mat-label>
								<input matInput type="text" placeholder="Link" formControlName="link" autocomplete="off" />
							</mat-form-field>
						</div>
						
						<div class="kt-form__section kt-form__section--first">
							Image
							<div class="form-group kt-form__group row">
								<div class="col-lg-4 kt-margin-bottom-20-mobile">
									<input (change)="
									pic_one_fun($event)"
									type="file" 
									>
								</div>
							</div>
							<img *ngIf="current_image" src="assets/page/{{current_image}}"  alt="pic_one" width="240" height="240">
						</div><br/><br/><br/>
						
						<div class="kt-login__actions">
							<button [disabled]="loading" (click)="submit()" style="width: 100px;"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</kt-portlet-body>

</kt-portlet>
