<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					<ng-container *ngIf="loading">
						Loading....
					</ng-container>
					<ng-container *ngIf="!loading">
						<button class="btn btn-primary btn-xs" (click)="actionClick(2)" *ngIf="action == 1">Add
							Agent</button>
						<button class="btn btn-primary btn-xs" (click)="actionClick(1)" *ngIf="action == 2">List
							Agents</button>
					</ng-container>
				</h3>
			</div>
		</div>
		<div class="kt-portlet__body">
			<ng-container *ngIf="action == 1">
				<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
					<thead>
						<tr>
							<th>Sr.No</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let agent of agents; let i = index;">
							<td>{{i+1}}</td>
							<td>{{agent.name}}</td>
							<td>{{agent.email}}</td>
							<td>{{agent.phone_number}}</td>
							<td>{{agent.status}}</td>
							<td>
								<button type="button" class="btn btn-xs btn-primary" (click)="edit(agent)">Edit</button>
							</td>
						</tr>
					</tbody>
				</table>
			</ng-container>
			<ng-container *ngIf="action == 2">
				<form [formGroup]="loginForm">
					<div class="form-group">
						<input type="text" formControlName="name" class="form-control" placeholder="Name" />
						<mat-error *ngIf="isControlHasError('name','required')">
							<strong>Required</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('name','minlength')">
							<strong>Min length is 2</strong>
						</mat-error>
					</div>
					<div class="form-group">
						<input type="text" formControlName="email" class="form-control" placeholder="Email Address" />
						<mat-error *ngIf="isControlHasError('email','required')">
							<strong>Required</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('email','email')">
							<strong>Invalid email</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('name','minlength')">
							<strong>Min length is 2</strong>
						</mat-error>
					</div>
					<div class="form-group">
						<input type="text" formControlName="phone_number" class="form-control"
							placeholder="Mobile Phone Eg.918872501189" />
						<mat-error *ngIf="isControlHasError('phone_number','required')">
							<strong>Required</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('phone_number','minlength')">
							<strong>Min length is 12</strong>
						</mat-error>
						<mat-error *ngIf="isControlHasError('phone_number','maxlength')">
							<strong>Max length is 12</strong>
						</mat-error>
					</div>
					<div class="form-group">
						<select class="form-control" formControlName="status">
							<option value="Active">Active</option>
							<option value="Inactive">Inactive</option>
						</select>
					</div>
					<button [disabled]="submiting" type="submit" (click)="submit()" class="btn btn-primary">
						<span *ngIf="!submiting">Save</span>
						<span *ngIf="submiting">Please wait....</span></button>
				</form>
			</ng-container>
		</div>
	</div>
</div>