<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['/builder']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
		
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
			
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-home"></i>
					Homepage Video
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="user">
						<form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>
							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											fileChange($event)"
											 type="file" 
											 id="inputGroupFile01"
											 placeholder="Enter Username" formControlName="username"/>
									</div>
									 
								</div>
								<video autoplay width="320" height="240" controls>
								  <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video.homepage_video.homepage_video}}" type="video/mp4">
								  <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video.homepage_video.homepage_video}}" type="video/ogg">
								  <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/webm">   
								  <source *ngIf="current_video?.homepage_video?.homepage_video" src="assets/page/{{current_video?.homepage_video?.homepage_video}}" type="video/quicktime">    
								  Your browser does not support the video tag.
								</video>
							</div>
						</form>
					</div>
					<!--end::Form-->
					<span style="color: green">{{message}}</span>
				</ng-template>
			</mat-tab>
			
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
