<!DOCTYPE html>
<html lang="en">

<head>
    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main">

<main id="main" ng-controller="ParallaxExampleCtrl">

    <div parallax-background class="header_back " parallax-ratio="0.5">     

    </div>    

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>       
        </ul>
       </div>
    
<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 text-left"></div>
        <div class="col-md-8 text-center">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}

                            <ul class="sub-menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>           
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header class="black-color-header">
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>			
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li> 
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>         
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}

                            <ul class="sub-menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>               
        </ul>
        </div>
    <div class="col-md-2 col-sm-6 col-xs-8 text-right">
        <img src="assets/img/right-side-menu-icon.png" class="side-meu" onclick="openNav()" alt="">
        <a href="#" class="mobil-search" id="search-model" data-toggle="modal" data-target="#search-model"><img src="assets/img/search.png" class="search" alt=""></a>
    </div>
    </div>
  
</header> 

 
<section class="retal-sec-main">
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-7" style="padding: 0;">
                <div class="sharpad-modren">
                    <div class="verticale-align">
                        <div class="verticale-align-inner">
                        
                     <div class="reatil-detail-price">
                    <h6>Guest details</h6>   
                    </div>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        
                        

                        <div class="form-group half"><input type="text" formControlName="firstname" [class]="submitted && registerForm.controls['firstname'].status == 'INVALID' ? 'error' : ''" placeholder="First Name"></div>
                        <div class="form-group half"><input type="text" formControlName="lastname" [class]="submitted && registerForm.controls['lastname'].status == 'INVALID' ? 'error' : ''" placeholder="Last Name"></div>
                        <div class="form-group half"><input type="text" formControlName="email" [class]="submitted && registerForm.controls['email'].status == 'INVALID' ? 'error' : ''" placeholder="Email"></div>
                        <div class="form-group half"><input type="text" formControlName="phone" [class]="submitted && registerForm.controls['phone'].status == 'INVALID' ? 'error' : ''" placeholder="Phone"></div>
                        <div class="form-group full">
                            <textarea placeholder="Message" formControlName="message" [class]="submitted && registerForm.controls['message'].status == 'INVALID' ? 'error' : ''"></textarea>
                        </div>
                        <div class="form-group full">
                        <input class="checkbox" type="checkbox" id="privacy" formControlName="privacy" [class]="submitted && registerForm.controls['privacy'].status == 'INVALID' ? 'error' : ''">
<<<<<<< HEAD
                        <label>I have read and accepted the Privacy Policy</label>    
=======
                        <label>I have read and accept thePrivacy Policy</label>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                        </div>
                        <div class="form-group full">
                        <input class="checkbox" type="checkbox" id="privacy" formControlName="interested" [class]="submitted && registerForm.controls['interested'].status == 'INVALID' ? 'error' : ''">
                        <label>I am interested in receiving discounts, promotions and news about Find Your SharkPad</label>    
                        </div>
                        <br><span style="color: white;">{{wait}}</span>
                        <div class="form-group full"><button (click)="onSubmit()" type="button" class="close">Request to Book</button></div>

                    </form>
                </div>
            </div>     
            </div>     
            </div>     
            <div class="col-md-5" style="padding: 0;">
                
                <div class="mian-listing-that sharpad-modren">
                    <img *ngIf="guesty_api_response?.picture?.thumbnail" src="{{guesty_api_response?.picture?.thumbnail}}" alt="{{guesty_api_response?.picture?.caption}}">
                <div class="inner-listing-shar"> 

                <h1>{{guesty_api_response?.title}}</h1>
                <p>{{guesty_api_response?.address?.city}}, {{guesty_api_response?.address?.country}}</p>
                <h6>House</h6>
                
                <h6 class="cechl-night">{{calculate_date_diff}} nights</h6>    
                <ul>
                    <li>Check in: {{guesty_api_response?.defaultCheckInTime}}</li>
                    <li>Check out: {{guesty_api_response?.defaultCheckOutTime}}</li>
                </ul>
                <h6 class="guest-inner">{{member}} guest</h6>    
                <ul>
                    <li>{{calculate_date_diff}} night <span>${{guesty_api_response?.prices.basePrice}}</span></li>
                    
                    <li *ngFor="let data of guesty_api_quote?.money?.invoiceItems" style="color: white;">

                        <ng-container *ngIf="data.title!=VAT">
                            {{data.title}} <span>${{data.amount}}</span>
                        </ng-container>

                        <ng-container *ngIf="data.title==VAT">
                            <ul class="sub-menu-li">
                                <li>{{data.title}} <span>${{data.amount}}</span></li>
                            </ul>
                        </ng-container>
    
                    </li>
                    
                    <li>Total <span>${{guesty_api_quote?.money?.subTotalPrice}}</span></li>
                    
                    
                    </ul>  
                </div>    
                </div>    
            </div>   
        </div>
    </div>
</section>    
            
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h1>SharkPads</h1>
                <div class="dfd-heading-delimiter"></div>    
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">
                <h1>Navigation</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>          
                </ul>    
                </div>

                <div class="col-md-4">
                <h1>Follow Us On</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>  
    
    
</main>
</body>
</html>