<!DOCTYPE html>
<html lang="en">

<head>
    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main">

 
<main id="main">

    <div class="loading" *ngIf="loading_img">
        <img src="assets/img/siteloader.gif" alt="loading">    
    </div>

    <div id="mySidenav" class="sidenav" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD

                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_five_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu only_five_menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="scrollToID('inquire_now', 0)">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name == 'SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_two_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                        <ul class="sub-menu life_invest_menu only_two_menu" style="display: none;">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                        </ul>    

                         </a>
                    </li>    
                    </ng-container>


                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container> 
                </ng-container>
            </ng-container>            
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>       
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
       </div>

<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 text-center">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                        <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                        </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>     
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header class="back-img-inqure">
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>				
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li> 
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>      
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>     
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
        <ul class="menu_header" *ngIf="menus">
<<<<<<< HEAD
                  <ng-container *ngFor="let menu of menus;">
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
            </ng-container>    
=======
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>      
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-8 text-right">
            <img src="assets/img/right-side-menu-icon.png" class="side-meu" (click)="openNav()" alt="">
            <a routerLink="/rentals" class="mobil-search"><img src="assets/img/search.png" class="search" alt=""></a>
        </div>
    </div>
    
    <div class="overlay"></div>

<<<<<<< HEAD
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline>
        <!--<video id="autoplay" muted playsinline controls>-->
                <source src="assets/page/1615291739639_1_1614837944987_12_AdobeStock_195458206.mov" type="video/mp4">
                <source src="assets/page/1615291739639_1_1614837944987_12_AdobeStock_195458206.mov" type="video/webm">
                <source src="assets/page/1615291739639_1_1614837944987_12_AdobeStock_195458206.mov" type="video/ogg">    
                <source src="assets/page/1615291739639_1_1614837944987_12_AdobeStock_195458206.mov" type="video/quicktime">    
=======
    <!--
        <div id="background" style="display: none;" style="background: url('assets/img/slider-img-4.jpg') repeat-x;"></div>
    -->

    <video loop [muted]="true" controls id="myVideo" autoplay playsinline style="display: none;">
        <!--<video id="autoplay" muted playsinline controls>-->
                <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
                <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
                <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">    
                <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </video>
    
        <div class="vartical-middle-flex text-center">
            <h1>INQUIRE <div class="dfd-heading-delimiter"></div></h1>
        </div>

  
</header> 

    
<section class="ouradress">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ouradress">
                    <div class="block-icon " style=""><img src="assets/img/locate-3.png" class="locate" alt=""></div>
                    <div class="block-content" style="">
                        <div class="widget-title fild-name " style="font-size: 23px; line-height: 35px; letter-spacing: -2px; ">Our address:</div><span class="delimiter" style="margin-left: 20px;border-bottom-style: dotted; "></span><p class="address">{{page_setting?.traveldesign?.address}}</p>
				    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ouradress">
                    <div class="block-icon " style=""><img src="assets/img/our-address.png" class="locate" alt=""></div>
                    <div class="block-content" style="">
                        <div class="widget-title fild-name " style="font-size: 23px; line-height: 35px; letter-spacing: -2px; ">Our phone:</div><span class="delimiter" style="margin-left: 20px;border-bottom-style: dotted; "></span><p class="address">{{page_setting?.traveldesign?.phone}}</p>
				    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ouradress">
                    <div class="block-icon " style=""><img src="assets/img/letter1.png" class="locate" alt=""></div>
                    <div class="block-content" style="">
                        <div class="widget-title fild-name " style="font-size: 23px; line-height: 35px; letter-spacing: -2px; ">Our email:</div><span class="delimiter" style="margin-left: 20px;border-bottom-style: dotted; "></span><p class="address">{{page_setting?.traveldesign?.email}}</p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    

<section class="contact-us">
            <div class="col-md-4 fix-height-auto" style="background-color:#eaeaea;height: 820px;">
                 <div class="iframe-add">
                     <iframe [src]="map" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                 </div>    
            </div>
            <div class="col-md-4 fix-height-auto" style="background-color:#eaeaea;padding-top: 20px;padding-bottom: 20px;padding-left: 0;height: 820px;">
                <div class="about-sharkpad-1 ">
                <div class="about-sharkpad">
                    <h1>ABOUT SHARKPAD</h1>
                  
                    <div innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                  
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tiktok-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/airnub-black.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>  
                        
                    </ul>
                </div>    
                </div>    
            </div>
            <div class="col-md-4 fix-height-auto" style="background-color: #3a3a3a;height: 820px;">
                <div class="inner-contact ">
                    <h1>Contact us</h1>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Your Name (required)</label>
                        <input type="text" formControlName="name" >    

                        <div *ngIf="submitted && registerForm.controls['name'].errors?.required" style="color: red;">
                            Name is required.
                        </div>


                    </div>
                    <div class="form-group">
                    <label>Your Email (required)</label>
                        <input type="email" class="name" formControlName="email" >    
                           
                    <div *ngIf="submitted && registerForm.controls['email'].errors?.required" style="color: red;">
                        Valid Email ID is required.
                    </div>

                    </div>

<<<<<<< HEAD
                    <div class="form-group">
                        <label>Subject</label>
                        <select class="name" formControlName="subject" style="background:#5a5a5a;color:white;">
                            <option selected="">Rent a SharkPad</option>
                            <option>Invest in a SharkPad</option>
                           
=======
                    <div class="form-group" style="display: none;">
                        <label>Subject</label>
                        <select class="name" formControlName="subject" style="background:#5a5a5a;color:white;">
                            <option selected="">Reserving SharkPad</option>
                            <option>Investing SharkPad</option>
                            <option>Purchase Art Work</option>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
<<<<<<< HEAD
                        <input type="number" class="name" formControlName="phone">    
=======
                        <input type="text" class="name" formControlName="phone">    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </div>
                    <div class="form-group">
                    <label>Comment</label>
                        <textarea class="text-contact" formControlName="comment"></textarea>    
                    </div> 
                        <button type="button" (click)="onSubmit()" class="contact-send">Send</button>    
                    </form>
                </div>    
    </div>
</section>    
     
<section class="sharkpad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <div class="wow animate__zoomIn">
                <div innerHTML={{page_setting?.traveldesign?.common_content}}></div><div class="dfd-heading-delimiter"></div>
                <div class="col-md-12">
                <button class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
                </div>
              </div>    
            </div>
        </div>
    </div>
</section>    
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section>  
    
<footer #myDiv>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">       
                    <h1>SharkPads</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div
                >
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">

                <div class="wow animate__fadeInRight">       
                    <h1>Navigation</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>       
                </ul>    
                </div>

                <div class="col-md-4">

                <div class="wow animate__fadeInRight">           
                    <h1>Follow Us On</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>      
    
</main>
</body>
</html>