<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label" style="width: 100%;">
				<div class="row" style="width: 100%;">
					<div class="col-md-9">
						<div style="margin-top: 10px;" class="kt-portlet__head-label">
							<span class="kt-portlet__head-icon">
								<i class="kt-font-brand flaticon2-line-chart"></i>
							</span>
							<h3 class="kt-portlet__head-title">
								<span *ngIf="!getting">Users</span>
								<span *ngIf="getting">Loading....</span>
							</h3>
							
						</div>
					</div>
					<!-- <div class="col-md-3">
						<div class="kt-login__actions" style="float: right;">
							<button style="margin-top: 10px; width: 100px;" routerLink="/ecommerce/orders"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">History</button>
						</div>
						
					</div> -->
					<div class="col-md-3">
						<div class="kt-login__actions" style="float: right;">
							<button style="margin-top: 10px; width: 100px;" routerLink="/ecommerce/orders"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Add User</button>
						</div>
						
					</div>
				</div>
				<!-- <h3 class="kt-portlet__head-title">
					<span *ngIf="!getting">Users</span>
					<span *ngIf="getting">Loading....</span>
				</h3> -->
			</div>
		</div>
		<div class="kt-portlet__body table-responsive">
			<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
				<thead>
					<tr>
						<th>Sr.</th>
						<th>User ID</th>
						<th>Event ID</th>
						<th>Name</th>
						<th>Email address</th>
						<th>Phone</th>
						<th>Login Method</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<!-- {{storedata|json}} -->
				<tbody *ngFor="let data of storedata;let i = index">
					<tr>
						<td>{{i+1}}</td>
						<td>{{data._id}}</td>
						<td>{{data.first_name}} {{data.last_name}}</td>
						<td>{{data.event_id}}</td>
						<td>{{data.email_address}}</td>
						<td>{{data.phone_number}}</td>
						<td style="text-transform: lowercase;">{{data.login_method}}</td>
						<td>{{data.user_type}}</td>
						<td>
							<!-- <a href="javascript:;" *ngIf="data.user_type=='admin'">ffff</a> -->
							<a href="javascript:;" *ngIf="data.user_type=='guest'" (click)="ChangeUser(data,'host')">Host</a>
							<a href="javascript:;" *ngIf="data.user_type=='host'" (click)="ChangeUser(data,'guest')">Guest</a>
							&nbsp;<a href="javascript:;"  (click)="Edit(data)">Edit</a>&nbsp;<a href="javascript:;"  (click)="ConfirmDelete(data)">Delete</a>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
