<!DOCTYPE html>
<html lang="en">

<head>
    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main">

 
<main id="main">

    <div class="loading" *ngIf="loading_img">
        <img src="assets/img/siteloader.gif" alt="loading">    
    </div>


    <div id="mySidenav" class="sidenav" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                         <span class="icon-sub-menu" (click)="displayallmenu($event,1)"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
            </ng-container>           
        </ul>
       </div>  
<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 text-center">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                         <span class="icon-sub-menu" (click)="displayallmenu($event,1)"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
            </ng-container>          
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header>
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>				
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
            <ul class="menu_header" *ngIf="menus">
                <ng-container *ngFor="let menu of menus;">
                    <ng-container *ngIf="menu.name == 'Invest'">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}
                                <span class="icon-sub-menu"></span>
                                <ul class="sub-menu" style="display: none !important;">
                                    <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                    <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                    <li (click)="scrollToID('services', 0)">SERVICES </li>
                                    <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                    <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                                </ul>    
    
                             </a>
                             <span class="icon-sub-menu" (click)="displayallmenu($event,1)"></span>
                        </li>    
                    </ng-container>
    
                    <ng-container *ngIf="menu.name!='Invest'">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>
                </ng-container>           
        </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-8 text-right">
            <img src="assets/img/right-side-menu-icon.png" class="side-meu" (click)="openNav()" alt="">
            <a routerLink="/rentals" class="mobil-search"><img src="assets/img/search.png" class="search" alt=""></a>
        </div>
    </div>
    
    <div class="overlay"></div>
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline disablepictureinpicture controlsList="nodownload">
    <!--<video id="autoplay" muted playsinline controls>-->
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">    
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">        
    </video>

    <div class="fix-bottom-inner">
        <button id="myVideo_play" style="display: none;" type="button" class="play-btn"><img src="assets/img/play-video-icon.png" alt=""> Play Video</button>
        <a class="arrow-wrap" href="javaScript:void(0)" id="content_scroll">
           <span class="arrow animated infinite bounce"><img src="assets/img/down-arrow.png" class="down-arrow-dance" alt=""></span>
        </a> 
           
        <span class="scrolh">Scoll Down</span>     
    </div>
  
</header> 

    
<section class="exprince add-back" id="content"> 
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">
            <div innerHTML={{page_data?.traveldesign?.content_one}}></div>
        </div>
        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
        <img src="assets/page/{{page_data?.traveldesign?.pic_one}}" alt="">
        </div>
    </div>
    <div class="eprince-inner">
        <div class="left-sec-exprince">
            <img src="assets/page/{{page_data?.traveldesign?.pic_two}}" alt="">
        </div>
        <div class="right-sec-exprince">
        <div class="right-sec-center">
            <div class="wow animate__zoomIn">    
                <div innerHTML={{page_data?.traveldesign?.content_two}}></div>
            </div>
        <div class="col-md-12"><button type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>        
        </div>
        </div>
    </div>
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
            <div class="wow animate__zoomIn">    
                <div innerHTML={{page_data?.traveldesign?.content_three}}></div>
            </div>
        <div class="col-md-12"><button type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
            <img src="assets/page/{{page_data?.traveldesign?.pic_three}}" alt="">
        </div>
    </div>
</section>    
    
<section class="sharkpad find-sharkpad" style="background-color: transparent !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="wow animate__zoomIn">
                    <div innerHTML={{page_data?.traveldesign?.content_four}}></div>

                </div>
                <div class="dfd-heading-delimiter"></div>
                
                <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="60" href="https://in.pinterest.com/sharkpads/modern-homes"></a>

            </div>
        </div>
    </div>
</section> 
    
<section class="sharkpad find-sharkpad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-md-6 text-left" style="margin-top: 15px">
                    
                    <div class="wow animate__zoomIn">    
                        <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                    </div>

                </div>    
                <div class="col-md-6" style="margin-top: 15px"><button type="button" style="margin-left: -767px;" class="inqure btn"><a style="color: white;" routerLink="/inquire">CONTACT US</a><img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
            </div>
        </div>
    </div>
</section>     

    
    
     
<section class="sharkpad" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <div class="wow animate__zoomIn">    
                    <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                    <div class="dfd-heading-delimiter"></div>
                </div>

                <div class="col-md-12">
                <button class="inqure btn"><a style="color: white;" routerLink="/inquire">INQUIRE NOW </a><img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</section>    
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section> 
    
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">       
                    <h1>SharkPads</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div
                >
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">

                <div class="wow animate__fadeInRight">       
                    <h1>Navigation</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>           
                </ul>    
                </div>

                <div class="col-md-4">

                <div class="wow animate__fadeInRight">           
                    <h1>Follow Us On</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>  
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>      
    
</main>
</body>
</html>