<!DOCTYPE html>
<html lang="en">

<head>    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main">

 
<main id="main">

    <div class="loading" *ngIf="loading_img">
        <img src="assets/img/siteloader.gif" alt="loading">    
    </div>


    <div id="mySidenav" class="sidenav" style="width: 0px;">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD

                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_five_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                            <ul class="sub-menu only_five_menu" style="display: none !important;">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="scrollToID('inquire_now', 0)">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name == 'SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a  (click)="displayallmenu($event,1,'only_two_menu')">{{menu.name}}
                            <span class="icon-sub-menu"></span>
                        <ul class="sub-menu life_invest_menu only_two_menu" style="display: none;">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                        </ul>    

                         </a>
                    </li>    
                    </ng-container>


                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container> 
                </ng-container>
            </ng-container>            
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>             
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
       </div>

<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 text-center">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
            </ng-container>                
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
            </ng-container>               
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header>
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>			
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>      
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>     
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="assets/img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-invest-menu"></span>
                               

                         </a>
                         <ul class="sub-menu life_invest_menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul> 
                         <span class="icon-sub-menu"></span>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">

                    <ng-container *ngIf="menu.name=='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}
                            <span class="icon-sub-menu icon-sub-menu-life-style"></span>
                        </a>

                         <ul class="sub-menu life_invest_menu">
                                <li (click)="externalLink($event,'https://shop.sharkpads.com')">ART</li>
                                <li (click)="externalLink($event,'https://shop.sharkpads.com/collections/candles')">CANDLES</li>
                            </ul>
                         <span class="icon-sub-menu"></span>
                    </li>  
                    </ng-container>

                    <ng-container *ngIf="menu.name!='SHOP'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>   
                    </ng-container>

                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>      
        </ul>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-8 text-right">
            <img src="assets/img/right-side-menu-icon.png" class="side-meu" alt="" (click)="openNav()">
            <a routerLink="/rentals" class="mobil-search"><img src="assets/img/search.png" class="search" alt=""></a>
        </div>
    </div>
    
    <div class="overlay"></div>
<<<<<<< HEAD
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline disablepictureinpicture controlsList="nodownload">
=======
    <video loop [muted]="true" controls id="myVideo" autoplay playsinline>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
    <!--<video id="autoplay" muted playsinline controls>-->
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/mp4">
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/webm">
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/ogg">    
        <source *ngIf="page_data?.traveldesign?.header_video" src="assets/page/{{page_data?.traveldesign?.header_video}}" type="video/quicktime">        
    </video>
    


    <div class="vartical-middle-flex text-center" style="display: none;">
        <h1>RENTALS<div class="dfd-heading-delimiter"></div></h1>
    </div>
  
</header> 

<section class="sharkpad find-sharkpad" id="content" *ngIf="!loading_img">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <div class="wow animate__fadeInRight">
                    <h1>Find Your Sharkpad</h1>
<<<<<<< HEAD
                    <p>Search our Rentals</p>
=======
                    <p>Find In Hospitality</p>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    <div class="dfd-heading-delimiter"></div>
                </div>
               

                <div class="check-search text-center">                
                <form [formGroup]="registerForm" (ngSubmit)="search_data()">
                    
                    <input type="text" name="daterangeInput" daterangepicker [options]="pickerOptions" (selected)="selectedDate($event, daterange)" />
                    <!-- https://www.npmjs.com/package/ng2-daterangepicker -->
                    
                    <div style="display: none;">
                        To: <input type="date" formControlName="from" placeholder="YYYY-MM-DD">
                        From: <input type="date" formControlName="to" placeholder="YYYY-MM-DD">
                    </div>

                    <select formControlName="guests">
                        <option>Guests</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <button type="button" class="search" (click)="search_data()">Search</button><br>
                    <span *ngIf="api_search_status == true">Please wait searching...</span>
                </form>

                </div>
            </div>
        </div>
    </div>
</section>     

<section class="retals-search-inner-main" *ngIf="guesty_api_response">
    <div class="col-md-12">  
        <div class="row">   
            <div class="col-md-6 post-inner-retal">
                <div class="post-retail-inner" *ngFor="let data of guesty_api_response;">
                <a routerLink="/property/{{data._id}}/{{this.registerForm.controls.from.value}}/{{this.registerForm.controls.to.value}}/{{this.registerForm.controls.guests.value}}">
                    <img [src]="data.picture.thumbnail" width="100%" height="200px" style="object-fit: cover;">
                    <div class="reatil-detail-price">
                    <h6>{{data.title}}</h6>
                    <p>{{data.accommodates}} guests | {{data.bedrooms}} bedrooms</p>
                    <h1>${{data.prices.basePrice}} <span>Per night</span></h1>    
                    </div>
                </a>    
                </div>


                <div *ngIf="total_count!=0" class="showing-resul text-center">Showing results 1 - {{total_count}} of {{total_count}}</div>
                <div *ngIf="total_count==0" class="showing-resul text-center">No result found!</div>
            </div>        
            <div class="col-md-6 map-full" style="padding: 0;">
                <div class="showing-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212270.74113266062!2d-84.56068898422151!3d33.76763377248689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C%20GA%2C%20USA!5e0!3m2!1sen!2sin!4v1607321981676!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
            </div>        
        </div>
    </div>
</section>   
<!--
<section class="sharkpad find-sharkpad" *ngIf="guesty_api_response" style="display: none;">
    <div class="container">
        <div class="row" *ngFor="let eventChunks of guesty_api_response;">
            
            <div class="col-md-4" *ngFor="let data of eventChunks;">
                <a routerLink="/property/{{data._id}}">
                    <img [src]="data.picture.thumbnail" width="100%" height="200px" style="object-fit: cover;">
                    <h1>{{data.title}}</h1>
                    <div class="dfd-heading-delimiter"></div>
                    <div class="check-search text-center">
                    <b>{{data.accommodates}} guests | {{data.bedrooms}} bedrooms | ${{data.prices.basePrice}} Per night</b>
                    </div>
                </a>
            </div>
           
        </div>
    </div>
</section>  
-->
    
<section class="exprince add-back"> 
    
    <div class="eprince-inner">
        <div class="left-sec-exprince">
        <img src="assets/page/{{page_data?.traveldesign?.pic_one}}" alt="" style="padding-top: 6px;" class="only_desktop_show">
        </div>
        <div class="right-sec-exprince">
        <div class="right-sec-center">
        <div class="wow animate__fadeInRight">
<<<<<<< HEAD
            <div innerHTML="{{page_data?.traveldesign?.content_two | slice:0:200 }}"></div>


            <div class="col-md-12" *ngIf="hospitality"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">BOOK NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>         
        <div class="col-md-12" *ngIf="!hospitality"><button type="button" class="inqure btn" (click)="open(mymodal_1)">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
=======
            <div innerHTML={{page_data?.traveldesign?.content_two}}></div> <div class="col-md-12"><button type="button" class="inqure btn">BOOK NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>      
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </div>    
        </div>
        </div>
    </div>
    <div class="eprince-inner" style="margin-top: -5px;">
        <div class="right-sec-exprince" style="border-top-width: 0px !important;border-right-width: 0px !important;border-left-width: 0px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
        <div class="right-sec-center">
        <div class="wow animate__zoomIn">
<<<<<<< HEAD
            <div innerHTML="{{page_data?.traveldesign?.content_one | slice:0:200 }}"></div>

            <div class="col-md-12" *ngIf="lifestyle"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>         
        <div class="col-md-12" *ngIf="!lifestyle"><button type="button" class="inqure btn" (click)="open(mymodal_2)">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>
=======
            <div innerHTML={{page_data?.traveldesign?.content_one}}></div><div class="col-md-12"><button type="button" class="inqure btn">MORE INFO <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
        </div>   
        </div>
        </div>
        <div class="left-sec-exprince" style="float: right">
        <img src="assets/page/{{page_data?.traveldesign?.pic_two}}" alt="" class="only_desktop_show">
        </div>
    </div>
</section>    

<ng-template #mymodal_1 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <section class="exprince add-back" id="content"> 
        <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;border-top-width: 20px !important;border-right-width: 20px !important;border-left-width: 20px !important;padding-right: 10% !important;padding-left: 10% !important;background-color: #f4f4f4 !important;border-left-color: #ffffff !important;border-left-style: solid !important;border-right-color: #ffffff !important;border-right-style: solid !important;border-top-color: #ffffff !important;border-top-style: solid !important;">
            <div class="right-sec-center">
                <div innerHTML={{page_data?.traveldesign?.content_two}}></div>
                <button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button>
            </div>
            </div>
        </div>
    </section>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>

<ng-template #mymodal_2 let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <section class="exprince add-back" id="content"> 
          <div class="eprince-inner" style="margin-top: -5px;height: auto;">
            <div class="right-sec-exprince" style="height:auto;width:100%;">
                <div class="right-sec-center">
                <div innerHTML={{page_data?.traveldesign?.content_one}}></div>    
                <div class="col-md-12"><button (click)="redirect_to_url('/inquire')" type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></div>  
                </div>
            </div>
          </div>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
</ng-template>
    
<section class="sharkpad find-sharkpad" style="background-color: transparent !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="wow animate__zoomIn pinterest_css_set">
<<<<<<< HEAD
                    <div innerHTML={{page_setting?.traveldesign?.gallery_text}}></div>    
=======
                    <h1>Gallery</h1>
                    <p>You can check out some of my work here.</p>
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    <div class="dfd-heading-delimiter"></div>
                </div>
                
                <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="60" href="https://in.pinterest.com/sharkpads/modern-homes"></a>
                
            </div>
        </div>
    </div>
</section> 
    
<section class="sharkpad find-sharkpad" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="wow animate__zoomIn">
                    <div innerHTML={{page_data?.traveldesign?.content_three}}></div><div class="col-md-12" style="margin-top: 15px"><a routerLink="/inquire"><button type="button" class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></a></div>
                </div>
            </div>
        </div>
    </div>
</section>     
    
    
     
<section class="sharkpad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <div class="wow animate__zoomIn"> 
                <div innerHTML={{page_setting?.traveldesign?.common_content}}></div>
                <div class="dfd-heading-delimiter"></div>
                <div class="col-md-12">
                <a routerLink="/inquire"><button class="inqure btn">INQUIRE NOW <img src="assets/img/arrow-righ.png" class="btn-arrow" alt=""></button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>    
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section>  
    
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wow animate__fadeInRight">       
                    <h1>SharkPads</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div
                >
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">

                <div class="wow animate__fadeInRight">       
                    <h1>Navigation</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>    
                </ul>    
                </div>

                <div class="col-md-4">

                <div class="wow animate__fadeInRight">           
                    <h1>Follow Us On</h1>
                    <div class="dfd-heading-delimiter"></div>    
                </div>

                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>   
                    <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>       
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>        
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>      
    
    
</main>
</body>
</html>