<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="row" style="width: 100%;">
				<div class="col-md-9">
					<div style="margin-top: 10px;" class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-line-chart"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							<span *ngIf="!getting">Pages</span>
							<span *ngIf="getting">Loading....</span>
						</h3>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="kt-login__actions" style="float: right;">
					<!--	<button style="margin-top: 10px;" routerLink="/ecommerce"  id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Add Page</button>-->
					</div>
					<!-- <button routerLink="/agents" style="float: right;">Add Event</button> -->
				</div>
			</div>
			
		</div>
		<div class="kt-portlet__body">
			<table
				class="table table-striped- table-bordered table-hover table-checkable"
				id="kt_table_1"
			>
				<thead>
					<tr>
						<th>Sr.</th>
						<th>Page Name</th>
						<th>Created</th>
						<th>Action</th>
					</tr>
				</thead>
				<!-- {{storedata|json}} -->
				<tbody *ngFor="let data of storedata;let i = index">
					<tr>
						<td>{{data.id}}</td>
						<td>{{data.name}}</td>
						<td>{{data.created_at| date: 'dd/MM/yyyy'}}</td>
						<!-- <td>{{data.login_method}}</td>
						<td>{{data.user_type}}</td> -->
						<td>
							<a href="javascript:;" (click)="Edit(data.id)">Edit</a>
							|
							<a href="javascript:;" (click)="ManageSection(data.url, data.id)">Manage Content</a>
							
							<!-- <a href="javascript:;" (click)="Delete(data)">Delete</a> -->
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>