<div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon2-line-chart"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					<span *ngIf="!getting">Events</span>
					<span *ngIf="getting">Loading....</span>
				</h3>
				<button style="float: right;">Add Event</button>
			</div>
		</div>
		<div class="kt-portlet__body">
			<table
				class="table table-striped- table-bordered table-hover table-checkable"
				id="kt_table_1"
			>
				<thead>
					<tr>
						<th>Sr.</th>
						<th>Event Name</th>
						<th>Slug</th>
						<th>Created</th>
						<!-- <th>Login Method</th>
						<th>Type</th> -->
					</tr>
				</thead>
				<!-- {{storedata|json}} -->
				<tbody >
					<tr>
						<!-- <td>{{i+1}}</td>
						<td>{{data.event_name}}</td>
						<td>{{data.slug_name}}</td>
						<td>{{data.created_at}}</td> -->
						<!-- <td>{{data.login_method}}</td>
						<td>{{data.user_type}}</td> -->
						<!-- <td>
							<a href="javascript:;" routerLink="/location/{{data._id}}">View</a>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>