<!DOCTYPE html>
<html lang="en">

<head>
    
    
<div class="modal fade" id="search-model" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form role="search" method="get" id="searchform_5fa3fead87cfe" class="form-search" action="">
            <input type="text" value="" name="s" id="s_5fa3fead87cfa" class="search-query" placeholder="Search on site...">
            <a href="#"><img src="assets/img/search.png" class="popup-serch" alt=""></a>  
	       </form>
        </div>
      </div>
    </div>
  </div>     
    
    
</head>

<body class="traveldesign-main">

<main id="main" ng-controller="ParallaxExampleCtrl">

    <div parallax-background class="header_back " parallax-ratio="0.5">     

    </div>    

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}

                            <ul class="sub-menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>       
        </ul>
       </div>
    
<div id="fix-header-back" style="display: none;">
    <div class="header-wrap">
        <div class="col-md-2 text-left"></div>
        <div class="col-md-8 text-center">
        <ul class="menu_header" *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}

                            <ul class="sub-menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>           
        </ul>
        </div>
        <div class="col-md-2 text-right"><a href="#"><img src="assets/img/search.png" class="search" alt=""></a></div>
    </div>
</div>    
    
<header class="black-color-header">
    <div class="header-top-panel">
        <div class="col-md-12">
            <div class="columns twelve header-info-panel">
                <div class="top-info">
                    <a class="header-link" href="tel:{{page_setting?.traveldesign?.phone}}"><img src="assets/img/phone.png" alt="">{{page_setting?.traveldesign?.phone}}</a>
                    <a class="header-link" href="mailto:{{page_setting?.traveldesign?.email}}"><img src="assets/img/envelope.png" alt="" style="width: 18px;height: auto;">{{page_setting?.traveldesign?.email}}</a>
                </div>			
                <div class="widget soc-icons dfd-soc-icons-hover-style-4">
                    <ul>
                        <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                        <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>
                        <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>        
=======
                        <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>      
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                    </ul>				
                </div>
            </div>
        </div>
    </div> 
    
    <div class="header-wrap">
        <div class="col-md-2 col-sm-6 col-xs-4 text-left"><img src="assets/img/white-logo.png" alt="" class="logo"><img src="img/affiliates-3.png" alt="" class="logo-mobile"></div>
        <div class="col-md-8 col-sm-8 text-center mobile-display-none">
        <ul *ngIf="menus">
            <ng-container *ngFor="let menu of menus;">
<<<<<<< HEAD
                <ng-container *ngIf="menu.name == 'Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}

                            <ul class="sub-menu">
                                <li (click)="scrollToID('mission_statement', 0)">MISSION STATEMENT</li>
                                <li (click)="scrollToID('industry_insight', 0)">INDUSTRY INSIGHT </li>
                                <li (click)="scrollToID('services', 0)">SERVICES </li>
                                <li (click)="scrollToID('investment_options', 0)">INVESTMENT OPTIONS </li>
                                <li (click)="redirect_to_url('/inquire')">INQUIRE</li>
                            </ul>    

                         </a>
                    </li>    
                </ng-container>

                <ng-container *ngIf="menu.name!='Invest'">
                    <li [ngClass]="{'active': menu.display_order === current_menu}">
                        <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                    </li>    
                </ng-container>
=======
                <li [ngClass]="{'active': menu.display_order === current_menu}">
                    <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                </li>    
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
            </ng-container>               
        </ul>
        </div>
    <div class="col-md-2 col-sm-6 col-xs-8 text-right">
        <img src="assets/img/right-side-menu-icon.png" class="side-meu" onclick="openNav()" alt="">
        <a href="#" class="mobil-search" id="search-model" data-toggle="modal" data-target="#search-model"><img src="assets/img/search.png" class="search" alt=""></a>
    </div>
    </div>
  
</header> 

<section class="sharkpad find-sharkpad retals-search-inner" id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="display: none;">  
                <div class="check-search text-center">
                <form [formGroup]="registerForm" (ngSubmit)="search_data()">    
                    <input type="date" formControlName="from">
                    <input type="date" formControlName="to"> 

                    <select formControlName="guests">
                    <option>Guests</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    </select>
                    <button type="button" class="search">Search</button>
                </form>    
                </div>
            </div>
        </div>
    </div>
</section>     
 
<section class="retal-sec-main">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8" style="padding: 0;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" *ngIf="guesty_api_response?.pictures">

    <ng-container *ngFor="let data of guesty_api_response.pictures;let i = index;">
        
    <ng-container *ngIf="i==0">
      <div class="item active">
        <img src="{{data.original}}" alt="" style="width:100%;">
      </div>
    </ng-container>    

    <ng-container *ngIf="i!=0">
        <div class="item">
          <img src="{{data.original}}" alt="" style="width:100%;">
        </div>
    </ng-container>    

    </ng-container>
  
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
            </div>
            <div class="col-md-4" style="padding: 0;">
                <div class="sharpad-modren">
                    <div class="reatil-detail-price">
                    <h6>{{guesty_api_response?.title}}</h6>
                    <h1>${{guesty_api_response?.prices.basePrice}} <span>Per night</span></h1>    
                    </div>

                    <form [formGroup]="registerForm" (ngSubmit)="search_data()">    
                        
                        <div class="form-group half"><input type="date" formControlName="from" (mouseout)="onSearchChange($event.target.value)"></div>
                        <div class="form-group half"><input type="date" formControlName="to" (mouseout)="onSearchChange($event.target.value)"></div>
                        
                        <div class="form-group full">
                            <select formControlName="guests" (change)="onSearchChange($event.target.value)">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        
                        
                        <!-- <ng-container *ngIf="guesty_api_quote?.money?.invoiceItems"> -->
                            <ul>
                                <li *ngFor="let data of guesty_api_quote?.money?.invoiceItems" style="color: white;">
                                    {{data.title}} <span>${{data.amount}}</span>
                                </li>
                                <li>Total <span>${{guesty_api_quote?.money?.subTotalPrice}}</span></li>
                            </ul>
                        <!-- </ng-container> -->

                        <div class="form-group full"><button type="button" (click)="search_data()" class="close">Book</button></div>
                        <div class="form-group half"><input type="hidden" formControlName="id"></div>
                    </form>

                </div>
            </div>    
        </div>
    </div>
</section>    

<section class="guest-list-bed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-bed-list">
                    <div class="bed-list">
                    <div class="col-md-6 p-sm-5">
                        <ul>
                        <li><img src="assets/img/listing_guests.svg" alt=""> {{guesty_api_response?.accommodates}} guests</li>
                        <li><img src="assets/img/listing_bedrooms.svg" alt=""> {{guesty_api_response?.bedrooms}} bedrooms</li>
                        <li><img src="assets/img/listing_beds.svg" alt=""> {{guesty_api_response?.beds}} beds</li>
                        <li><img src="assets/img/listing_bathroom.svg" alt=""> {{guesty_api_response?.bathrooms}} bathrooms</li>
                        </ul>    
                    </div>
                    <div class="col-md-6 p-sm-5">
                      <ul>
                        <li><img src="assets/img/listing_location.svg" alt=""> {{guesty_api_response?.address?.city}}, {{guesty_api_response?.address?.country}}</li>
                        </ul>   
                    </div>
                    </div>
                    
                    <div class="detail-of-list">
                    <div class="col-md-6 p-sm-5">
                    <p>Welcome to SharkPad. Your home for high end short term vacation rentals. Introducing SharkPad 120, a newly constructed 7000 square foot modern masterpiece. Located on 1.4 acres of Atlanta's most exclusive neighborhood Buckhead, this mansion is fitted with premium finishes. Miele appliances, designer bathrooms and custom slate walls and designer bathrooms are just a few of the modern touches afforded to our guests. This home has 5 spacious bedrooms all with private en-suite bathrooms.</p>    
                    </div>
                    <div class="col-md-6" style="padding: 0;">
                    <div class="map-vew">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212270.74113266062!2d-84.56068898422151!3d33.76763377248689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C%20GA%2C%20USA!5e0!3m2!1sen!2sin!4v1607321981676!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    </div>    
                    </div>
                </div>
                
                <div class="check-in-price">
                <div class="col-md-6 p-sm-5">
                    <h6>Check in and out</h6>
                    <ul>
                        <li>Check in: {{guesty_api_response?.defaultCheckInTime}}</li>
                        <li>Check out: {{guesty_api_response?.defaultCheckOutTime}}</li>
                    </ul>
                </div>
                <div class="col-md-6 p-sm-5">
                    <h6>Prices</h6>
                    <ul>
                        <li>Weekly discount: 10%</li>
                        <li>Monthly discount: 20%</li>
                    </ul>
                </div>    
                </div>
                
                <div class="check-in-price amenties">
                <div class="col-md-12 p-sm-5">
                    <h6>Amenities</h6>
                    <ul>
                        <li><img src="assets/img/parking.svg" alt=""> Free Parking on Premises</li>
                        <li><img src="assets/img/air_condition.svg" alt=""> Air Conditioning</li>
                        <li><img src="assets/img/heating.svg" alt=""> Heating</li>
                        <li><img src="assets/img/fireplace.svg" alt=""> Indoor Fireplace</li>
                        <li><img src="assets/img/wifi.svg" alt=""> Wireless Internet</li>
                        <li><img src="assets/img/internet.svg" alt=""> Internet</li>
                        <li><img src="assets/img/laptop.svg" alt=""> Laptop Friendly Workspace</li>
                        <li><img src="assets/img/kitchen.svg" alt=""> Kitchen</li>
                        <li><img src="assets/img/washer.svg" alt=""> Washer</li>
                        <li><img src="assets/img/dryer.svg" alt=""> Dryer</li>
                        <li><img src="assets/img/hair_dryer.svg" alt=""> Hair Dryer</li>
                        <li><img src="assets/img/iron.svg" alt=""> Iron</li>
                    </ul>
                </div>
                <a href="#" class="show-all">Show all</a>
                </div>
                
                <div class="check-in-price description">
                <div class="col-md-12 p-sm-5">
                    <h6>Description</h6>
                    <ul>
                    <li>{{guesty_api_response?.publicDescription?.summary}}</li>
                    <li>{{guesty_api_response?.publicDescription?.notes}}</li>
                    <li>{{guesty_api_response?.publicDescription?.neighborhood}}</li>
                    <li>{{guesty_api_response?.publicDescription?.access}}</li>
                    </ul>
                </div>
                <a href="#" class="show-all">Show all</a>
                </div>
            </div>
        </div>
    </div>
</section>  
        
<section class="suggest-listing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Suggested listings</h1>
                <div class="listing-of-sugest">
                <div class="post-retail-inner">
                    <img src="assets/img/IMG_8.jpg" alt="">
                    <div class="reatil-detail-price">
                    <h6>SharkPad 102: Modern Townhome w/Rooftop &amp; Hot Tub</h6>
                    <p>6 guests | 3 bedrooms</p>
                    <h1>$245 <span>Per night</span></h1>    
                    </div>
                </div><div class="post-retail-inner">
                    <img src="assets/img/IMG_7.jpg" alt="">
                    <div class="reatil-detail-price">
                    <h6>SharkPad 102: Modern Townhome w/Rooftop &amp; Hot Tub</h6>
                    <p>6 guests | 3 bedrooms</p>
                    <h1>$245 <span>Per night</span></h1>    
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>    
        
    
<section class="sharkpad-slider">    
    <div class="heroSlider-fixed">
        <div class="slider responsive" *ngIf="slides">
            
            <div *ngFor="let data of slides;">
                <a routerLink="{{data.link}}">
                    <img src="assets/page/{{data.image}}" alt="{{data.caption}}">
                    <div class="content-wrap"><div class="info-box-title feature-title" style="">{{data.caption}}</div></div>
                </a> 
            </div>
            
            </div>
				 <!-- control arrows -->
            <div class="prev">
                
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/left-arrow.png" alt=""></span>
            </div>
            <div class="next">
                <span class="glyphicon" aria-hidden="true"><img src="assets/img/right-arrow.png" alt=""></span>
            </div>	
      </div>   
</section>  
    
<footer>
    <div class="footer-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <h1>SharkPads</h1>
                <div class="dfd-heading-delimiter"></div>    
                <div style="margin-top: 30px" innerHTML={{page_setting?.traveldesign?.aboutus}}></div>
                </div>
                <div class="col-md-4">
                <h1>Navigation</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="menu_header" *ngIf="menus">
                    <ng-container *ngFor="let menu of menus;">
                        <li [ngClass]="{'active': menu.display_order === current_menu}">
                            <a routerLink="{{menu.front_url}}">{{menu.name}}</a>
                        </li>    
                    </ng-container>          
                </ul>    
                </div>

                <div class="col-md-4">
                <h1>Follow Us On</h1>
                <div class="dfd-heading-delimiter"></div>    
                <ul class="social-details">
                    <li><a href="{{page_setting?.traveldesign?.facebook}}"><img src="assets/img/facebook.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.instgram}}"><img src="assets/img/instagram-symbol.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.linkedin}}"><img src="assets/img/linkedin.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.twitter}}"><img src="assets/img/twitter.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.tiktok}}"><img src="assets/img/tik-tok.png" alt=""></a></li>      
<<<<<<< HEAD
                    <li><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>
                    <li><a href="{{page_setting?.traveldesign?.amazon}}"><img src="assets/img/amazon.png" alt=""></a></li>       
=======
                    <li style="display:none"><a href="{{page_setting?.traveldesign?.airnb}}"><img src="assets/img/ttt.png" alt=""></a></li>     
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
                </ul>
                </div>
            </div>
        </div>
    </div>
    
    <section id="sub-footer" class=" dfd-background-dark">
        <div class="row">
            <div class="twelve columns subfooter-copyright text-center">
                © SharkPad Enterprises LLC {{ currentYear }}
            </div>
        </div>
	</section>
    
</footer>  
    
    
</main>
</body>
</html>