<kt-portlet>
	<kt-portlet-header [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a [routerLink]="['../../']" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the users list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>
			
			
		</ng-container>
	</kt-portlet-header>

	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab>
				<ng-template mat-tab-label>
					<i class="mat-tab-label-icon fa fa-home"></i>
					Settings
				</ng-template>
				<ng-template matTabContent>
					<!--begin::Form-->
					<div *ngIf="user">
						<form [formGroup]="userForm" class="kt-form kt-form--group-seperator-dashed">

							<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
								Oh snap! Change a few things up and try submitting again.
							</kt-alert>

							<div class="kt-form__section kt-form__section--first">
								Gallery
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
											<input (change)="
											pic_gallery($event)"
											 type="file" 
											 >
									</div>
									 
								</div>
								<img *ngIf="page_data?.traveldesign?.pic_gallery_image"  src="assets/page/{{page_data?.traveldesign?.pic_gallery_image}}"  alt="pic_three" width="240" height="240">
							</div>



							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Email: <input type="text" class="form-control" formControlName="email">
									</div>
								</div>
							</div>


							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Phone: <input type="text" class="form-control" formControlName="phone">
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Address: <input type="text" class="form-control" formControlName="address">
									</div>
								</div>
							</div>


							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Facebook: <input type="text" class="form-control" formControlName="facebook">
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Linkedin: <input type="text" class="form-control" formControlName="linkedin">
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Twitter: <input type="text" class="form-control" formControlName="twitter">
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Instgram: <input type="text" class="form-control" formControlName="instgram">
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Lifestyle Ecosystems: <textarea type="text" class="form-control" formControlName="common_content"></textarea>
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									About Us: <textarea type="text" class="form-control" formControlName="aboutus"></textarea>
									</div>
								</div>
							</div>

							<div class="kt-form__section kt-form__section--first">
								<div class="form-group kt-form__group row">
									<div class="col-lg-4 kt-margin-bottom-20-mobile">
									Map: <textarea type="text" class="form-control" formControlName="map"></textarea>
									</div>
								</div>
							</div>
							

							

							
						</form>
					</div>
					<!--end::Form-->
					<span style="color: green">{{message}}</span>
				</ng-template>
			</mat-tab>
			
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
