.color{
    color: #310b47;
}
.c-w{
    color: #fff;
}
.c-b{
    color: #202020;
}
.f-b{
    font-weight: bold;
}
.f-300{
    font-weight: 300;
}
.f-500{
    font-weight: 500;
}
.f-600{
    font-weight: 600;
}
.f-s-12{
    font-size: 12px;
}
.f-s-13{
    font-size: 13px;
}
.f-s-14{
    font-size: 14px;
}
.f-s-15{
    font-size: 15px;
}
.f-s-16{
    font-size: 16px;
}
.f-s-17{
    font-size: 17px;
}
.f-s-18{
    font-size: 18px;
}
.f-s-19{
    font-size: 19px;
}
.f-s-20{
    font-size: 20px;
}
.f-s-21{
    font-size: 21px;
}
.f-s-22{
    font-size: 22px;
}
.f-s-23{
    font-size: 23px;
}
.f-s-24{
    font-size: 24px;
}
.f-s-25{
    font-size: 25px;
}
.f-s-26{
    font-size: 26px;
}
.f-s-27{
    font-size: 27px;
}
.f-s-28{
    font-size: 28px;
}
.f-s-29{
    font-size: 29px;
}
.f-s-30{
    font-size: 30px;
}
.f-s-31{
    font-size: 31px;
}
.f-s-32{
    font-size: 32px;
}
.f-s-33{
    font-size: 33px;
}
.f-s-34{
    font-size: 34px;
}
.f-s-35{
    font-size: 35px;
}
.f-s-36{
    font-size: 36px;
}
.f-s-37{
    font-size: 37px;
}
.f-s-38{
    font-size: 38px;
}
.f-s-39{
    font-size: 39px;
}
.f-s-40{
    font-size: 40px;
}
.m-0{
    margin: 0;
}
.m-t-150{
    margin-top: 150px;
}
.m-t-92{
    margin-top: 92px;
}
.m-t-35{
    margin-top: 35px;
}
.m-b-65{
    margin-bottom: 65px;
}
.m-b-85{
    margin-bottom: 85px !important;
}
.m-b-30{
    margin-bottom: 30px !important;
}
.m-b-25{
    margin-bottom: 25px;
}
.p-0{
    padding: 0 !important;
}
