/**
* Template Name: Mamba - v2.3.0
* Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/
/*font-family: 'Lora', serif;*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body, html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
  
body {
  font-family: 'Dosis', sans-serif;
  color: #444;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: "Lora";
    line-height: 22px;
    text-transform: none;
    letter-spacing: 0px;
    color: #5a5a5a;
}
a {
  color: #428bca;
}

a:hover {
  color: #9eccf4;
  text-decoration: none;
}
ul{
    padding: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.header-top-panel {
    position: absolute;
    border-bottom-width: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    right: 0;
    background: rgba(39,39,39,0.31);
    color: #ffffff;
    border-bottom-color: rgba(255,255,255,0.1);
    padding: 15px 15px;
}
header {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}
main#main {
    width: 100%;
    float: left;
    height: 100%;
}
header video {
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
}
.top-info img {
    height: 15px;
    margin-right: 9px;
}
.top-info a.header-link {
    margin-right: 20px;
}
.top-info a.header-link {
    margin-right: 20px;
    color: #fff;
    font-size: 12.9px;
    font-family: 'Lora', serif;
    font-weight: 400;
}
.widget.soc-icons ul {
    float: right;
    margin: 0;
}
.widget.soc-icons ul li {
    display: inline-block;
    margin: 0 0 0 25px;
}
.widget.soc-icons ul li img {
    height: 14px;
}
.top-info {
    width: auto;
    display: inline-block;
    float: left;
}
.header-wrap {
    position: absolute;
    width: 100%;
    float: left;
    top: 52px;
    padding: 0 15px;
    z-index: 9999;
}   
button.inqure.btn:hover {
    background-color: #c39f76;
}
.footer-sec ul.social-details li a:hover img {
    opacity: 0.5;
}
.about-sharkpad-1 .about-sharkpad ul li:nth-child(1) a:hover {
    background-color: #305fb3;
}
.about-sharkpad-1 .about-sharkpad ul li:nth-child(2) a:hover {
    background-color: #9f6f59;
}
.about-sharkpad-1 .about-sharkpad ul li:nth-child(3) a:hover {
    background-color: #39c;
}
.about-sharkpad-1 .about-sharkpad ul li:nth-child(4) a:hover {
    background-color: #5eaade;
}
.about-sharkpad-1 .about-sharkpad ul li a:hover img {
    filter: brightness(40.5);
}

header.back-img-inqure {
    /*background-image: url(../img/slider-img-4.jpg);*/
    background-repeat: no-repeat;
    height: 580px !important;
    background-size: 100%;
    background-attachment: fixed;
}
.header-wrap ul {
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
}
.header-wrap ul li {
    width: auto;
    display: inline-block;
    position: relative;
}
.header-wrap ul li a:hover ul.sub-menu{
    display: none !important;
}
ul.sub-menu li:hover{
    color: #c39f76 !important;
}

.header-wrap ul li a {
    font-size: 18px;
    font-style: normal;
    font-family: "Dosis";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 30px;
    padding: 8px 18px;
    color: #ffffff;
    display: inline-block;
}

.header-wrap ul li.active a {
    border-color: rgba(255,255,255,0.1);
    border-width: 1px;
    border-style: solid;
}
img.logo {
    height: 62px;
}
img.search {
    width: 15px;
    margin-top: 24px;
}
section.sharkpad {
    padding: 110px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
}
section.sharkpad h1 {
    font-size: 45px;
    color: #000000 !important;
    line-height: 80px;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-family: "Dosis";
    text-transform: none;
    letter-spacing: 0px;
}
section.sharkpad p {
    font-size: 17px;
    color: #000000 !important;
    font-family: "Lora";
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: italic;
}
.dfd-heading-delimiter {
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 160px;
    border-bottom-color: #c39f76;
    margin: 0 auto;
    display: inline-block;
}

button.inqure.btn {
    background: #282828;
    border-style: none;
    border-width: 1px;
    border-radius: 0px;
    border-color: #1b1b1b;
    border: 0px solid rgba(195,159,118,1);
    color: #ffffff;
    padding-right: 50px;
    line-height: 35px;
    padding-left: 50px;
    font-family: "Dosis";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    margin-top: 31px;
}

img.btn-arrow {
    position: absolute;
    width: 17px;
    top: 19px;
    bottom: 0;
    right: 19px;
}

.heroSlider-fixed {
    position: relative;
}
.heroSlider-fixed .prev span.glyphicon img, .heroSlider-fixed .next span.glyphicon img {
    width: 7px;
    position: absolute;
    left: 43%;
    right: 0;
    bottom: 0;
    top: 37%;
    display: inline-block;
}
.heroSlider-fixed span.glyphicon {
    background: #c39f76;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}
ul.slick-dots {
    display: none !important;
}
.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
    color: #999;
    position: absolute;
    top: 44%;
    left: 0;
    font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
    color: #999;
    position: absolute;
    top: 44%;
    right: 0;
    font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}
section.sharkpad-slider .slick-slide img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-left: 1px #ccc solid;
}
.footer-sec {
    background-color: #242424;
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    border-top: 2px #ffffffc2 solid;
}
.footer-sec h1 {
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-family: "Dosis";
    text-transform: none;
    letter-spacing: 0px;
}
.footer-sec ul {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
}
.eprince-inner .dfd-heading-delimiter {
    position: relative;
    margin-top: 0px;
}
.footer-sec ul li {
    padding: 5px 0;
}
.footer-sec ul li a {
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: "Lora";
    text-transform: none;
    letter-spacing: 0px;
}
.footer-sec p {
    color: #fff;
    max-width: 85%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: "Lora";
    text-transform: none;
    letter-spacing: 0px;
    display: inline-block;
}
.footer-sec ul.social-details li {
    display: inline-block;
    margin: 0 5px 0 0;
    position: relative;
    overflow: hidden;
}
.widget.soc-icons ul li{
    position: relative;
    overflow: hidden;
}
.footer-sec ul.social-details li a::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #666;
    display: block;
    position: absolute;
    top: 30px;
    left: -32px;
    transition: 0.3s;
}
.widget.soc-icons ul li a::after {
    content: '';
    width: 30px;
    height: 2px;
    background-color: #666;
    display: block;
    position: absolute;
    top: 14px;
    left: -32px;
    transition: 0.3s;
}
.footer-sec ul.social-details li a:hover::after, .widget.soc-icons ul li a:hover::after {
    left: 60px;

}
.widget.soc-icons ul li a{
    transition: 0.8s;
}
.footer-sec ul.social-details li a {
    transition: 0.8s;
    background-color: #000;
    color: #fff !important;
    border-radius: 50%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 46px;
    margin-right: 1px;
}
.footer-sec ul.social-details li a img {
    height: 20px;
}
.content-wrap {
    position: absolute;
    left: 20px;
    right: 20px;
    display: block;
    top: 50%;
        -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
        overflow: hidden;
}
.feature-title {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    padding-top: 15px;
    font-family: "Dosis";
    line-height: 25.65px;
    text-transform: none;
    letter-spacing: 0px;
    font-style: normal; 
}
.slick-initialized .slick-slide {
    display: block;
    position: relative;
    text-align: center;
}
#sub-footer {
    position: relative;
    height: 74px;
    line-height: 74px;
    overflow: hidden;
    z-index: 1;
    background-color: #1e1e1e !important;
    background-repeat: repeat !important;
    margin: -5px 0 0 0;
}
.subfooter-copyright{
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    height: 74px;
    line-height: 74px;
    width: 100%;
    text-align: center;
}
body.traveldesign-main header {
    height: auto;
}
body.traveldesign-main header video {
    width: 100%;
    height: 580px;
    float: left;
    object-fit: cover;
}
.vartical-middle-flex {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 999;
}
.vartical-middle-flex span {
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: "Lora";
    font-size: 12px !important;
    width: 120px;
    cursor: pointer;
}
button.play-btn {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border: none !important;
    font-size: 14px;
    display: inline-block;
    height: 46px;
    padding: 15px 24px !important;
    line-height: 14px !important;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "texgyreadventorregular", "Raleway", "Open Sans", "PT Sans", sans-serif;
    z-index: 99;
}
img.down-arrow-dance {
    width: 20px;
    display: block;
    margin: 0 auto 11px;
}
button.play-btn img {
    width: 12px;
    margin-right: 10px;
}
section.exprince {
    width: 100%;
    display: inline-block;
}
.eprince-inner {
    height: 500px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.eprince-inner .left-sec-exprince {
    height: 100%;
    width: 50%;
    display: inline-block;
    float: left;
}
.eprince-inner .left-sec-exprince img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media  (min-width : 767px) and (max-width : 1220px){
    .eprince-inner .left-sec-exprince img {
       width: 100%;
       height: auto;
       -o-object-fit: cover;
       object-fit: cover;
    }
}

.right-sec-exprince {
    width: 50%;
    display: table;
    text-align: center;
    height: 100%;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    background-color: #f5f5f5 !important;
    border-left-color: #ffffff !important;
    border-left-style: solid !important;
    border-right-color: #ffffff !important;
    border-right-style: solid !important;
    float: left;
}
.right-sec-center {
    display: table-cell;
    vertical-align: middle;
}
.right-sec-exprince h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    font-family: "Dosis";
    line-height: 55px;
    text-transform: none;
    letter-spacing: 0px;
    color: #28262b;
    margin-top: 0;
}
.right-sec-exprince span {
    width: 100%;
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lora";
    line-height: 25px;
    text-transform: none;
    letter-spacing: 0px;
    color: #5a5a5a;
}
section.sharkpad.find-sharkpad {
    padding: 70px 0;
}
section.sharkpad.find-sharkpad h1 {
    font-size: 35px;
    color: #28262b;
    line-height: normal;
}
section.sharkpad.find-sharkpad p {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lora";
    line-height: normal;
    text-transform: none;
    letter-spacing: 0px;
    color: #5a5a5a !important;
    margin-bottom: 3px;
}
.check-search.text-center {
    margin: 25px 0 0 0;
    display: inline-block;
    width: 100%;
}
section.sharkpad.find-sharkpad {
    padding: 70px 0;
    background-color: #f5f5f5 !important;
}
.check-search input[type="text"] {
    outline: none;
    caret-color: transparent;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #565a5c;
    width: 210px;
    height: 40px;
    border: .5px solid transparent;
    border-radius: 2px;
    padding: 10px 15px;
    vertical-align: top;
}
section.exprince.add-back {
    background-color: #f5f5f5 !important;
    margin-top: -6px;
}
.check-search.text-center select {
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: all .2s ease;
    border-color: transparent;
    border-radius: 2px;
    padding: 9px 52px 9px 20px;
    color: #565a5c;
    height: 40px;
}
button.search {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #565a5c;
    background-color: #6ac1ff;
    cursor: pointer;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    vertical-align: top;
    border: .5px solid transparent;
    border-radius: 2px;
    padding: 10px 15px;
    height: 40px;
    width: 117px;
}
img.gallery-set {
    width: 100%;
    margin-top: 30px;
}
.dfd-heading-delimiter {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 7px auto 0;
    max-width: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: 160px;
    border-bottom-color: #c39f76;
}
.vartical-middle-flex h1 {
    font-size: 60px;
    color: #ffffff !important;
    font-family: "Dosis";
    line-height: 89.65px;
    text-transform: none;
    letter-spacing: 0px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}
section.sharkpad.find-sharkpad ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px;
}
section.sharkpad.find-sharkpad ul li img {
    width: 170px;
}
section.sharkpad.find-sharkpad ul {
    margin-top: 50px;
    display: inline-block;
}
section.weather-privacy {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
}
.delimiter {
    display: inline-block;
    margin: 10px 0 0;
    border-bottom: 1px dotted rgba(0,0,0,0.1);
    max-width: 90%;
    width: 100%;
}
.footer-sec .dfd-heading-delimiter {
    left: 0;
    right: auto;
    position: relative;
    float: left;
}
.ouradress {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 50px 0;
}
.ouradress .block-icon {
    font-size: 36px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    width: 80px;
    height: 80px;
    float: left;
    color: #28262b;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lora', serif;
    line-height: 22px;
    text-transform: none;
    letter-spacing: 0px;
}
.ouradress .block-icon img {
    display: block;
}
.ouradress .block-content {
    margin-left: 80px;
    color: #28262b;
}
.block-content .widget-title.fild-name {
    font-size: 23px;
    line-height: 35px;
    letter-spacing: -2px;
    font-family: "Dosis";
    font-weight: bold;
    color: #28262b;
        padding-left: 20px;
}
.ouradress .block-content p.address {
    padding-top: 7px;
    margin-bottom: 0;
    padding-left: 20px;
    color: #28262b;
    font-family: "Raleway", "Open Sans", "PT Sans", sans-serif;
}
.iframe-add {
    padding: 20px 0;
    height: 100%;
}
.iframe-add iframe {
    border: 11px #fff solid !important;
    display: inline-block;
    height: 100%;
}
.about-sharkpad {
    background-color: #fff;
    padding: 15px 50px;
}
.inner-contact {
    padding: 30px 30px;
}
.about-sharkpad-1 {
    display: table;
    height: 100%;
    align-items: center;
}
.about-sharkpad-1 .about-sharkpad {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.fix-height-auto {
    height: 860px;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: transparent;
}
.about-sharkpad-1 .about-sharkpad h1 {
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -3px;
    font-style: normal;
    font-weight: 300;
    font-family: "Dosis";
    text-transform: none;
    color: #28262b;
    margin: 0 0 25px 0;
}
.about-sharkpad-1 .about-sharkpad ul {
    width: 100%;
    float: left;
    margin-top: 25px;
}
.about-sharkpad-1 .about-sharkpad ul li {
    width: auto;
    display: inline-block;
    margin-right: 8px;
}
.about-sharkpad-1 .about-sharkpad ul li a img {
    height: 16px;
}
.about-sharkpad-1 .about-sharkpad ul li a {
    background: #f4f4f4;
    text-align: center;
    float: left;
    width: 3em;
    height: 3em;
    line-height: 3em;
    z-index: 1;
    padding: 14px 0;
    position: relative;
}
.inner-contact h1 {
    font-size: 45px;
    line-height: 40px;
    letter-spacing: -3px;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-family: "Dosis";
    text-transform: none;
    margin: 0 0 25px 0;
}
.inner-contact .form-group {
    width: 100%;
    margin-bottom: 1.07em;
    display: inline-block;
}
.inner-contact .form-group label {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    color: #fff;
    font-family: "Lora";
    text-transform: none;
    letter-spacing: 0px;
    font-style: normal;
    margin: 0 0 3px 0;
}
<<<<<<< HEAD
.inner-contact .form-group input, .inner-contact .form-group textarea,.inner-contact .form-group select {
=======
.inner-contact .form-group input, .inner-contact .form-group textarea, .inner-contact .form-group select {
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
    padding-left: 10px !important;
    padding-right: 10px !important;
    background: rgba(244,244,244,0.2);
    color: #fff;
    width: 100%;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    padding: 7px 15px 7px;
    height: 47px;
    line-height: 20px;
    margin: 0 0 13px;
}
.inner-contact .form-group textarea.text-contact {
    height: 210px;
}
button.contact-send {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-family: "Dosis";
    line-height: 20px;
    letter-spacing: 0px;
    color: #28262b;
    background-color: #c39f76 !important;
    font-size: 17px !important;
    text-transform: uppercase !important;
    width: 100%;
    text-align: center;
    background: transparent;
    border-width: 0;
    padding: 15px 0;
    cursor: pointer;
    margin-top: 0;
}
div#fix-header-back .header-wrap {
    top: 0;
    position: relative;
}
div#fix-header-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(72,67,62,0.9);
    z-index: 9999;
    padding: 0 0 10px 0;
}
div#fix-header-back img.search {
    width: 15px;
    margin-top: 28px;
}
.widget.soc-icons ul li a img:hover {
    opacity: .5;
}
.feature-title a {
    color: #fff;
}



.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-size: contain;
}
span.scrolh {
    bottom: 19px;
}   
/* Animate.css */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.logo-mobile{
    display: none;
}
img.side-meu {
    display: none;
}
div#search-model {
    overflow: hidden;
}
div#search-model .modal-dialog {
    height: 95%;
    box-shadow: 0 0 black;
    width: 80%;
}
div#search-model .modal-dialog .modal-content {
    display: table;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 black;
    border: 0;
}
div#search-model .modal-dialog .modal-content .modal-body {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
div#search-model .modal-dialog .modal-content .modal-body form#searchform_5fa3fead87cfe {
    position: relative;
}
div#search-model .modal-dialog .modal-content .modal-body input:focus{
    outline: none;
}
div#search-model .modal-dialog .modal-content .modal-body input {
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    font-family: "Dosis";
    line-height: 55px;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    color: #fff;
    height: auto;
    margin: 0;
    padding-right: 45px;
    background: transparent;
    border-color: rgba(255,255,255,0.2);
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    z-index: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
}
div#search-model .modal-dialog .modal-content .modal-body form#searchform_5fa3fead87cfe a {
    position: absolute;
    right: 10px;
    top: 20px;
}
img.popup-serch {
    width: 19px;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}
.dfd-pricing-block {
    background-color: #f4f4f4;
    padding: 45px 20px;
    border-bottom: 1px dashed #fff;
    position: relative;
    margin: 60px 0 0 0;
}
.dfd-pricing-block .feature-title {
    color: #28262b;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: "Dosis";
}
.dfd-pricing-block .subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    font-family: "Lora";
    line-height: 22.36px;
    text-transform: none;
    letter-spacing: 0px;
    color: #727272;
}
.price-wrap {
    margin-bottom: 100px;
}
.dfd-pricing-block .block-desc .subtitle {
    font-size: 25px;
    line-height: 45px;
    font-style: italic;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0px;
    color: #727272;
    margin-bottom: 80px;
}
ul.options-list {
    margin: 0 15px 15px 15px;
    display: block;
    list-style: none;
}
ul.options-list li.option {
    border-top: 1px dotted #ddd;
    display: block;
    padding: 12px 0;
    min-height: 51px;
}
ul.options-list li.option span.option-icon {
    margin-right: 15px;
    display: inline-block;
    width: auto;
}
.pricing-feature-description {
    display: inline-block;
}
a.pricing-button.button {
    height: auto;
    padding: 0 40px;
    margin: 25px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    font-family: "Dosis";
    line-height: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    background: rgba(195,159,118,1);
    border: 0px solid rgba(195,159,118,1);
    position: relative;
    display: inline-block;
    width: auto;
}
img.error-img {
    width: 70%;
    margin-top: 50px;
}
section.erroe-404 a.pricing-button.button {
    position: absolute;
    right: 30%;
    bottom: 10%;
}
ul.options-list li.option span.option-icon img{
    width: 15px;
}

#back-to-top {
    display: inline-block;
    background-color: rgba(232,232,232,1);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#back-to-top:active {
  background-color: #555;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
#back-to-top img {
    width: 16px;
    margin-top: 16px;
}
div#mySidenav {
    display: none;
}



/*27 nov css*/
#qLoverlay {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    z-index: 99999 !important;
}
.hide_perloader {
    z-index: 1 !important;
    display: none !important;  
}
#qLoverlay #qLbar_wrap {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1b1b1b;
}
#qLoverlay #qLbar_wrap .qLbar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999999;
}
input.ng-pristine.ng-valid.ng-touched {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #565a5c;
    height: 40px;
    border: .5px solid transparent;
    border-radius: 2px;
    padding: 10px 15px;
    vertical-align: top;
    background-color: #fff;
    width: 150px;
    margin-right: 4px;
}
section.sharkpad.find-sharkpad.retals-search-inner {
    padding: 10px 0 30px 0;
}
.post-retail-inner {
    width: 49%;
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
}
.post-retail-inner img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}
.showing-map iframe {
    width: 100%;
    height: 100%;
}
.col-md-6.post-inner-retal {
    padding-top: 26px;
}
.reatil-detail-price {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 25px 90px 25px 0;
}
.reatil-detail-price h6 {
    color: #464646;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.reatil-detail-price h1 {
    margin: 0;
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 30px;
    letter-spacing: -1.1px;
    line-height: 1.1;
    color: #464646;
    text-align: right;
}
.reatil-detail-price h1 span {
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 300;
}
section.retals-search-inner-main {
    height: 600px;
    display: inline-block;
    width: 100%;
}
.showing-map {
    height:600px;
}
.col-md-6.post-inner-retal {
    height: 600px;
    overflow: auto; 
}
.showing-resul.text-center {
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
}
section.retal-sec-main {
    width: 100%;
    display: inline-block;
}
section.retal-sec-main .item img {
    height: 550px;
    object-fit: cover;
}
section.retal-sec-main .carousel-control {
    width: 9%;
}
.sharpad-modren {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 254, 254);
    padding: 20px 30px;
    height: 920px;
}
.col-md-8 + .col-md-4 .sharpad-modren {
    background-color: rgb(70, 70, 70);
    color: rgb(255, 254, 254);
    padding: 20px 30px;
    height: 550px;
}
.sharpad-modren .reatil-detail-price h6 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    white-space: normal;
    line-height: 37px;
    padding-top: 0;
    text-overflow: unset;
}
.sharpad-modren .reatil-detail-price {
    padding-top: 0;
}
.sharpad-modren .reatil-detail-price h1 {
    color: #fff;
    top: 3px;
    font-weight: 300;
    line-height: 29px;
}
.sharpad-modren .form-group.half {
    width: 49%;
    display: inline-block;
    padding: 0 0;
}
.sharpad-modren .form-group.full {
    width: 100%;
    display: inline-block;
    padding: 0 0;
}
.sharpad-modren .form-group.half input[type="text"], .sharpad-modren .form-group.full select {
    background: #f6f6f6;
    border: .5px solid transparent;
    padding-left: 20px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
    line-height: 24px;
    width: 98%;
    padding: 11px 11px 9px;
    font-family: "Raleway", sans-serif;
    color: #1b1b1b;
}
.sharpad-modren .form-group.full button {
    background: #f6f6f6;
    border: .5px solid transparent;
    padding-left: 20px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
    line-height: 24px;
    width: 98%;
    padding: 11px 11px 9px;
    font-family: "Raleway", sans-serif;
    color: #1b1b1b;
}
.sharpad-modren .form-group.full button {
    background: rgb(106, 193, 255);
    padding-left: 20px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
    line-height: 24px;
    width: 98%;
    padding: 11px 11px 9px;
    font-family: "Raleway", sans-serif;
    float: left;
    height: 50px;
    color: #fff;
    opacity: .65;
}
.carousel-control.right, .carousel-control.left {
    background-image: none !important;
}
.inner-bed-list {
    margin-top: 5.7rem!important;
    background-color: #fafafa;
    display: inline-block;
    width: 100%;
}
.p-sm-5 {
    padding: 3rem!important;
}
.bed-list ul {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.bed-list ul li {
    width: auto;
    display: inline-block;
    padding: 0 15px;
    font-family: "Raleway", sans-serif;
}
.bed-list ul li img {
    display: block;
    margin: 0 auto 7px;
    height: 38px;
}   
.bed-list {
    border-bottom: 1px solid #ececec;
    width: 100%;
    display: inline-block;
}
iframe {
    width: 100%;
}
.detail-of-list p {
    font-family: "Raleway", sans-serif;
    color: #464646;
    line-height: 26px;
    font-weight: 300;
}
.check-in-price {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ececec;
}
.check-in-price h6 {
    font-weight: 700;
}
.check-in-price ul li {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin-bottom: 7px;
    width: 100%;
    display: inline-block;
}
.check-in-price.amenties ul li {
    width: 32%;
}
a.show-all {
    float: right;
    margin-top: 1rem!important;
    padding: 1em;
    font-size: 14px;
    color: rgb(106, 193, 255);
    font-family: "Raleway", sans-serif;
}
.check-in-price.description ul li {
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    color: #464646;
    margin-top: 15px;
}
section.suggest-listing {
    padding: 30px 0;
    width: 100%;
    display: inline-block;
}
section.suggest-listing h1.text-center {
    margin: 0 0 30px 0;
    font-size: 30px;
    font-weight: 300;
}
section.suggest-listing .post-retail-inner {
    width: 32%;
}
header.black-color-header {
    height: 138px !important;
    display: inline-block;
    width: 100%;
    background-color: #000;
}
.sharpad-modren ul {
    width: 100%;
    display: inline-block;
    padding: 10px 0 17px 0;
}
.sharpad-modren ul li {
    color: #828282!important;
    font-family: "Raleway", sans-serif;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ececec;
    padding: 7px 0;
}
.sharpad-modren ul li span {
    float: right;
}


/*9dec*/
.mian-listing-that.sharpad-modren img {
    height: 330px;
    width: 100%;
    object-fit: cover;
}
.mian-listing-that.sharpad-modren {
    background-color: #fff;
    padding: 0;
}
.inner-listing-shar {
    padding: 3rem;
    display: inline-block;
    width: 100%;
}
.inner-listing-shar h1 {
    font-size: 25px;
    margin: 0 0 14px 0;
    font-weight: 300;
}
.inner-listing-shar p {
    font-family: "Raleway", sans-serif;
}
.inner-listing-shar h6 {
    font-weight: 700;
    margin: 20px 0;
}
.inner-listing-shar .cechl-night {
    margin-bottom: 0;
}
.inner-listing-shar h6.guest-inner {
    margin: 0 0 10px 0;
}
.sharpad-modren ul li.total {
    border-bottom: 0;
    font-size: 25px;
    color: #464646 !important;
    font-weight: 300;
    margin-top: 9px;
}
.sharpad-modren ul.sub-menu-li {
    padding: 0 15px;
}
.sharpad-modren ul.sub-menu-li li {
    border-top: 1px solid #ececec;
    border-bottom: 0;
    margin-top: 10px;
}
.sharpad-modren .verticale-align .verticale-align-inner {
    display: table-cell;
    vertical-align: middle;
}
.sharpad-modren .verticale-align {
    display: table;
    height: 100%;
    width: 80%;
    float: none;
}
.sharpad-modren .verticale-align .verticale-align-inner input[type="text"] {
    background-color: #fff;
}
.sharpad-modren .verticale-align .verticale-align-inner textarea {
    border: 0;
    width: 97.5%;
    border-radius: 2px;
    height: 120px;
    padding: 20px 20px;
    font-family: "Raleway", sans-serif;
}
.sharpad-modren .form-group.full label {
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 500;
    width: auto;
    display: inline-block;
}
.sharpad-modren .form-group.full input#privacy {
    width: auto;
    display: inline-block;
    margin-right: 6px;
}
.sharpad-modren .verticale-align .verticale-align-inner .form-group.full button {
    background: rgb(106, 193, 255);
    padding-left: 20px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 200;
    padding-top: 10px;
    line-height: 24px;
    width: 50%;
    padding: 11px 11px 9px;
    font-family: "Raleway", sans-serif;
    float: left;
    height: 50px;
    color: #fff;
    opacity: 1;
    margin-right: 15px;
    float: right;
}
input.error,textarea.error,checkbox.error {
    border: 2px red solid !important;
}

.sharpad-modren.retail-chnf {
    height: 550px;
}
.sharpad-modren.retail-chnf ul li {
    color: #fff !important;
}

img.sec-logo {
    width: 100px;
    margin: 0px 10px;
}






#background {
	background: url(../img/slider-img-4.jpg) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
    height: 580px;
    background-size: cover;
}

#midground {
	background: url(../img/slider-img-4.jpg) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
    height: 580px;
     background-size: cover;
}

#foreground {
	background: url(../img/slider-img-4.jpg) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
    height: 580px;
     background-size: cover;
}



.fix-bottom-inner span {
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: "Lora";
    font-size: 12px !important;
    width: 120px;
    cursor: pointer;
    text-align: center;
}
span.scrolh {
    bottom: 21px;
}




@media screen and (max-width:1099px){
    .header-wrap ul li a {
    padding: 8px 10px;
}
.sharpad-modren .reatil-detail-price h6 {
    font-size: 20px;
    line-height: normal;
}    
.reatil-detail-price h1 {
    font-size: 24px;
}
.bed-list ul li {
    padding: 0 8px;
}    
.p-sm-5 {
    padding: 2rem!important;
}
.bed-list ul li img {
    height: 32px;
}    
}

@media screen and (max-width:991px){
    section#content.exprince.add-back.the-sharkpad-contracts .eprince-inner:nth-child(2) {
        flex-direction: column;
        display: flex;
    } 
    section#content.exprince.add-back.the-sharkpad-contracts .eprince-inner:nth-child(3) {
        flex-direction: column-reverse;
        display: flex;
    }
    section#content.exprince.add-back.the-sharkpad-contracts .eprince-inner {
        flex-direction: column-reverse;
    } 
.real-estate-inner .right-sec-exprince {
    padding-top: 15px;
    padding-bottom: 30px;
} 
section.exprince.add-back .eprince-inner:nth-child(1) {
    margin-top: 15px !important;
}
section.exprince.add-back .eprince-inner:nth-child(2) {
    display: flex;
    flex-direction: column;
}
section.sharkpad.find-sharkpad .set_width {
    margin-top: 45px;
    width: 100% !important;
}
.eprince-inner {
    margin-top: 15px;
}    
.sharpad-modren .verticale-align {
    display: table;
    height: 100%;
    width: 100%;
    float: none;
}    
.sharpad-modren .reatil-detail-price {
    min-height: 87px;
}    
.sharpad-modren {
    height: auto;
}    
section.exprince.add-back .eprince-inner:nth-child(1) {
    display: flex;
    flex-direction: column;
}
section.exprince .eprince-inner:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
}
.right-sec-exprince {
    width: 50%;
    display: table;
    text-align: center;
    height: 100%;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}
.right-sec-exprince {
    border-top: 0 !important;
}    
    
div#mySidenav {
    display: block;
}
.sidenav { 
                                                
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99999;
}

.sidenav a {
    padding: 14px 25px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-size: 17px;
    border-top: 1px dotted rgba(255,255,255,0.1);
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right:0;
  font-size: 36px;
  margin-left: 50px;
}
  
    
img.side-meu {
    display: inline-block;
}   
.ouradress {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 15px 0;
}    
header.back-img-inqure {
    background-image: url(../img/slider-img-4.jpg);
    background-repeat: no-repeat;
    height: 580px !important;
    background-size: auto 100%;
    background-attachment: fixed;
}    
.header-top-panel {
    position: absolute;
    width: 100%;
    z-index: 999;
    right: 0;
    background: #000;
    border-bottom-color: rgba(255,255,255,0.1);
    display: inline-block;
}
.header-top-panel .widget.soc-icons ul {
    float: right;
    margin: 0;
    display: none;
}  
.logo-mobile {
    display: block;
    height: 62px;
}  
    .logo{
        display: none;
    }    
.header-wrap {
    position: absolute;
    width: 100%;
    float: left;
    top: 53px;
    padding: 14px 15px;
    z-index: 9999;
    padding-bottom: 14px;
    background-color: #fff;
}
    .mobile-display-none{
        display: none;
    }
a.mobil-search {
    background-color: #000;
    padding: 11px 8px;
    border-radius: 60px;
    margin-top: 11px;
    display: inline-block;
    width: 37px;
    height: 37px;
    text-align: center;
}
a.mobil-search img.search {
    margin-top: 0;
}
img.side-meu {
    width: 31px;
    margin-right: 21px;
}
div#fix-header-back {
    display: none !important;
}    
.slick-initialized .slick-slide .content-wrap .info-box-title.feature-title {
    font-size: 15px !important;
}    
.eprince-inner .left-sec-exprince {
    height: 100%;
    width: 100%;
    display: inline-block;
    float: left;
}
.right-sec-exprince {
    width: 100%;
    display: table;
    text-align: center;
    height: auto;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #f5f5f5 !important;
    border-left-color: #ffffff !important;
    border-left-style: solid !important;
    border-right-color: #ffffff !important;
    border-right-style: solid !important;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}
.eprince-inner {
    height: auto;
    display: inline-block;
    overflow: visible;
    width: 100%;
}  
  .eprince-inner .left-sec-exprince {
    height: 300px;
}

}


@media screen and (max-width: 800px) {
  .next {
    display: block !important;
}
}


@media screen and (max-width:767px){
    .footer-sec ul.social-details li a img {
        height: 16px !important;
        margin-top: 12px !important;
    } 
.sharpad-modren .verticale-align .verticale-align-inner .reatil-detail-price {
    padding-right: 0;
    min-height: auto;
}    
.sharpad-modren .verticale-align .verticale-align-inner .form-group.full button {
    width: 100%;
}

ngb-modal-window.d-block.modal .modal-dialog {
    width: 100%;
    margin: 30px auto;
}
  
.post-retail-inner {
    width: 100%;
    display: inline-block;
    padding: 0 15px;
    vertical-align: top;
}    
.check-in-price.amenties ul li {
    width: 100%;
}
section.suggest-listing .post-retail-inner {
    width: 100%;
}
.p-sm-5 {
    padding: 2rem 15px !important;
}    
.bed-list ul li {
    width: 49%;
    padding: 0 8px;
    margin-bottom: 15px;
}    
.about-sharkpad {
    background-color: #fff;
    padding: 15px 30px;
}    
.heroSlider-fixed .slick-track .content-wrap {
    left: 0;
    right: 0;
    width: 65%;
    text-align: center;
    display: inline-block;
}
.heroSlider-fixed .slick-track .content-wrap .info-box-title.feature-title {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.heroSlider-fixed .slick-track .content-wrap .info-box-title.feature-title a {
    width: 100%;
    text-align: center;
    font-size: 27px;
}
.right-sec-exprince h1 {
    font-size: 29px;
    line-height: normal;
}    
section.sharkpad.find-sharkpad h1 {
    font-size: 35px;
    color: #28262b;
    line-height: normal;
}
.check-search input[type="text"] {
    outline: none;
    caret-color: transparent;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #565a5c;
    width: 49%;
    height: 40px;
    border: .5px solid transparent;
    border-radius: 2px;
    padding: 10px 15px;
    vertical-align: top;
    margin-bottom: 15px;
}
.check-search.text-center select {
    width: 100%;
    margin-bottom: 15px;
}    
button.search {
    width: 100%;
}    
    section.sharkpad h1 {
    font-size: 32px;
    color: #000000 !important;
    line-height: normal;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-family: "Dosis";
    text-transform: none;
    letter-spacing: 0px;
}
.header-top-panel {
    padding: 15px 0;
}
.top-info a.header-link {
    margin-right: 11px;
}    
.footer-sec ul.social-details li a {
    width: 40px;
    height: 40px;
    line-height: 37px;
}  
.footer-sec ul.social-details li a img {
    height: 15px;
}    
.vartical-middle-flex h1 {
    font-size: 40px;
}   
.header-wrap {
    padding: 14px 5px;
}    
section.sharkpad.find-sharkpad h1 {
    text-align: center;
}
section.sharkpad.find-sharkpad p {
    text-align: center;
}    
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}    

.footer-sec ul.social-details li a img {
    height: 20px;
    margin-top: 15px;
 }

 .sharkpad-slider .slick-initialized .slick-slide {
    display: block;
    height: auto;
 }

 .menu_header a {
     cursor: pointer;
 }

 
<<<<<<< HEAD

 .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


.loading {
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 5076px;
    animation: slide 100s linear infinite;
 }

 @keyframes slide{
    0%{
      transform: translate3d(-1692px, 0, 0);
    }
    100%{
      transform: translate3d(0, 0, 0); 
    }
  }

.eprince-inner .dfd-heading-delimiter {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

header.real-estate-inner {
    background-repeat: no-repeat;
    height: 505px !important;
    background-size: 100%;
    background-attachment: fixed;
 }

@media screen and (max-width:1099px){
    button.inqure.btn {
       margin-left: 0 !important;
    }
}

#back-to-top.show img#back-to-top-image {
    display: block !important;
    left: 12px;
    position: relative;
}

section.sharkpad.find-sharkpad .col-md-6.text-left {
    margin-top: 0 !important;
}

section.sharkpad.find-sharkpad button.inqure.btn {
    margin-top: 0 !important;
}

@media screen and (max-width:767px){
    .heroSlider-fixed .slick-track .content-wrap {
       left: 0;
       right: 0;
       width: 100%;
       text-align: center;
       display: inline-block;
    }
    .slick-initialized .slick-slide .content-wrap .info-box-title.feature-title {
        font-size: 24px !important;
    }
}

section.sharkpad.find-sharkpad .col-md-6.text-left {
    width: 100%;
    text-align: center;
 }
 section.sharkpad.find-sharkpad .col-md-6 {
    width: 100%;
    text-align: center;
 }
 section.sharkpad.find-sharkpad .col-md-6 button.inqure.btn {
    margin: 10px 0 0 0 !important;
 }

section.sharkpad.find-sharkpad .set_width {
    margin-top: 45px;
}

.fade {
    opacity: 1;
    background-color: #090808a1;
    padding-top: 180px;
}

#modal-basic-title{
    width: auto;
    display: inline;
=======

 .input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1
}

.overlay { background-repeat: no-repeat; height: 180px; position: absolute; width: 320px; } 
.paused { background-color: rgba(0,0,0,0.2); background-image: url('../img/slider-img-4.jpg'); background-position: left bottom; } 
.play { background-image: url('../img/slider-img-4.jpg'); background-position: center center; }

.loading {
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 5076px;
    animation: slide 100s linear infinite;
 }

 @keyframes slide{
    0%{
      transform: translate3d(-1692px, 0, 0);
    }
    100%{
      transform: translate3d(0, 0, 0); 
    }
  }

.eprince-inner .dfd-heading-delimiter {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

header.real-estate-inner {
    background-repeat: no-repeat;
    height: 505px !important;
    background-size: 100%;
    background-attachment: fixed;
 }

<<<<<<< HEAD
#aPlayer > audio { width: 100% }
/* Chrome 29+ */
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
     /* HIDE DOWNLOAD AUDIO BUTTON */
     #aPlayer {
           overflow: hidden;width: 390px; 
    }
=======
@media screen and (max-width:1099px){
    button.inqure.btn {
       margin-left: 0 !important;
    }
}

#back-to-top.show img#back-to-top-image {
    display: block !important;
    left: 12px;
    position: relative;
}

section.sharkpad.find-sharkpad .col-md-6.text-left {
    margin-top: 0 !important;
}

section.sharkpad.find-sharkpad button.inqure.btn {
    margin-top: 0 !important;
}

@media screen and (max-width:767px){
    .heroSlider-fixed .slick-track .content-wrap {
       left: 0;
       right: 0;
       width: 100%;
       text-align: center;
       display: inline-block;
    }
    .slick-initialized .slick-slide .content-wrap .info-box-title.feature-title {
        font-size: 24px !important;
    }
}

section.sharkpad.find-sharkpad .col-md-6.text-left {
    width: 100%;
    text-align: center;
 }
 section.sharkpad.find-sharkpad .col-md-6 {
    width: 100%;
    text-align: center;
 }
 section.sharkpad.find-sharkpad .col-md-6 button.inqure.btn {
    margin: 10px 0 0 0 !important;
 }

section.sharkpad.find-sharkpad .set_width {
    margin-top: 45px;
}

.fade {
    opacity: 1;
    background-color: #090808a1;
    padding-top: 180px;
}

#modal-basic-title{
    width: auto;
    display: inline;
}
>>>>>>> 8984940b6fd992eef6756565fbc19ce2057b00d1

    #aPlayer > audio { 
      width: 420px; 
    }
}

/* Chrome 22-28 */
@media screen and(-webkit-min-device-pixel-ratio:0) {
    
      #aPlayer {
           overflow: hidden;width: 390px; 
        }

    #aPlayer > audio { width: 420px; }
}
.header-wrap ul li a:hover ul.sub-menu{
    display: block !important;
}
.sharpad-modren ul.sub-menu-li {
    padding: 0 15px;
}
.sharpad-modren ul.sub-menu-li li {
    border-top: 1px solid #ececec;
    border-bottom: 0;
    margin-top: 10px;
}
.fix-bottom-inner span {
    position: absolute;
    bottom: 45px;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: "Lora";
    font-size: 12px !important;
    width: 120px;
    cursor: pointer;
    text-align: center;
 }
 span.scrolh {
    bottom: 21px;
 }

 img.sec-logo {
    width: 100px;
    margin: 0px 10px;
 }

 ngb-modal-window.d-block .modal-body {
    padding: 0;
 }
 .right-sec-exprince {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-width: 0px !important;
 }
 ngb-modal-window.d-block.modal .modal-dialog .modal-footer {
    display: none;
 }
 ngb-modal-window.d-block.modal .modal-dialog .modal-content {
    padding-bottom: 20px;
 }

body.traveldesign-main header.real-estate-inner {
    overflow: hidden;
}
 
.header-wrap ul li ul.sub-menu {
    position: absolute;
    width: 187px;
    background-color: rgba(72,67,62,0.9);
    padding: 14px 15px;
    text-align: left;
    display: none;
 }  
 .header-wrap ul li a ul.sub-menu li {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    color: #fff;
    font-family: "Raleway", sans-serif;
 }
 ngb-modal-window.d-block .modal-body {
    padding: 0;
 }
 .right-sec-exprince {
    padding-top: 15px;
    padding-bottom: 15px;
 }
 ngb-modal-window.d-block.modal .modal-dialog .modal-footer {
    display: none;
 }
 ngb-modal-window.d-block.modal .modal-dialog .modal-content {
    padding-bottom: 20px;
 }

 button.close:focus {
    outline: none;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}

@media screen and (max-width:991px){
    .real-estate-inner section.exprince.add-back .eprince-inner:nth-child(1) {
        margin-top: 0px !important;
    }
    .real-estate-inner .eprince-inner .left-sec-exprince img {
        height: 300px;
    }
    .real-estate-inner  section.exprince.add-back .eprince-inner:nth-child(2) {
        display: flex;
        flex-direction: column-reverse;
    }
    .real-estate-inner section.sharkpad {
        padding: 15px 0 50px 0 !important;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .real-estate-inner .right-sec-exprince {
        width: 100%;
        display: table;
        text-align: center;
        height: auto;
    }
    .real-estate-inner .eprince-inner .left-sec-exprince {
        height: auto;
    }
    }

 @media screen and (max-width:767px){
    .eprince-inner .left-sec-exprince {
        height: auto;
    } 
    section.weather-privacy h1 {
        font-size: 27px !important;
    }
 ngb-modal-window.d-block.modal .modal-dialog {
        width: 100%;
        margin: 30px auto;
    }
}
.sidenav a {
    padding: 14px 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-size: 16px;
    border-top: 1px dotted rgba(255,255,255,0.1);
    font-family: "Dosis";
    text-transform: uppercase;
 }
 .sidenav a ul.sub-menu {
    background-color: #171717;
    margin: 16px -26px -14px -26px;
    padding: 5px 26px;
 }
 .sidenav a ul.sub-menu li {
    margin: 8px 0;
    font-family: "Dosis";
    color: #9f9f9f;
    font-size: 14px;
 }

 .sidenav a {
    position: relative;
}
span.icon-sub-menu {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 49px;
    width: 49px;
    border-left: 1px solid rgba(92,92,92,.23);
    cursor: pointer;
    padding-right: 18px;
    background-color: #e7b882;
}
.sidenav .icon-sub-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 49px;
    width: 49px;
    border-left: 1px solid rgba(92,92,92,.23);
    cursor: pointer;
    padding-right: 18px;
}
.sidenav .icon-sub-menu:before {
    transform: translateX(3px) rotate(-50deg);
    -webkit-transform: translateX(3px) rotate(-50deg);
    -moz-transform: translateX(3px) rotate(-50deg);
    -o-transform: translateX(3px) rotate(-50deg);
    -ms-transform: translateX(3px) rotate(-50deg);
    -sand-transform: translateX(3px) rotate(-50deg);
}  
.sidenav .icon-sub-menu:after {
    transform: translateX(-4px) rotate(50deg);
    -webkit-transform: translateX(-4px) rotate(50deg);
    -moz-transform: translateX(-4px) rotate(50deg);
    -o-transform: translateX(-4px) rotate(50deg);
    -ms-transform: translateX(-4px) rotate(50deg);
    -sand-transform: translateX(-4px) rotate(50deg);
}
.sidenav .icon-sub-menu.up-icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}
.sidenav .icon-sub-menu.up-icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
}

.sidenav .icon-sub-menu:after, .sidenav .icon-sub-menu:before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    right: 50%;
    margin-right: -5px;
}

header.real-estate-inner ul.menu_header .icon-sub-menu {
    position: absolute;
    top: 0;
    right: -5px;
    height: 45px;
    width: auto;
    border-left: 0px solid rgba(92,92,92,.23);
    cursor: pointer;
    background-color: transparent;
    padding-right: 18px;
}
header.real-estate-inner ul.menu_header .icon-sub-menu:before {
    transform: translateX(3px) rotate(-50deg);
    -webkit-transform: translateX(3px) rotate(-50deg);
    -moz-transform: translateX(3px) rotate(-50deg);
    -o-transform: translateX(3px) rotate(-50deg);
    -ms-transform: translateX(3px) rotate(-50deg);
    -sand-transform: translateX(3px) rotate(-50deg);
}  
header.real-estate-inner ul.menu_header .icon-sub-menu:after {
    transform: translateX(-4px) rotate(50deg);
    -webkit-transform: translateX(-4px) rotate(50deg);
    -moz-transform: translateX(-4px) rotate(50deg);
    -o-transform: translateX(-4px) rotate(50deg);
    -ms-transform: translateX(-4px) rotate(50deg);
    -sand-transform: translateX(-4px) rotate(50deg);
}
header.real-estate-inner ul.menu_header .icon-sub-menu.up-icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}
header.real-estate-inner ul.menu_header .icon-sub-menu.up-icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
}

header.real-estate-inner ul.menu_header .icon-sub-menu:after, header.real-estate-inner ul.menu_header .icon-sub-menu:before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    right: 50%;
    margin-right: -5px;
}

#fix-header-back ul.menu_header .icon-sub-menu {
    position: absolute;
    top: 0;
    right: -5px;
    height: 45px;
    width: auto;
    border-left: 0px solid rgba(92,92,92,.23);
    cursor: pointer;
    background-color: transparent;
    padding-right: 18px;
}


#fix-header-back ul.menu_header .icon-sub-menu:before {
    transform: translateX(3px) rotate(-50deg);
    -webkit-transform: translateX(3px) rotate(-50deg
);
    -moz-transform: translateX(3px) rotate(-50deg);
    -o-transform: translateX(3px) rotate(-50deg);
    -ms-transform: translateX(3px) rotate(-50deg);
    -sand-transform: translateX(3px) rotate(-50deg);
}  
#fix-header-back ul.menu_header .icon-sub-menu:after {
    transform: translateX(-4px) rotate(50deg);
    -webkit-transform: translateX(-4px) rotate(50deg);
    -moz-transform: translateX(-4px) rotate(50deg);
    -o-transform: translateX(-4px) rotate(50deg);
    -ms-transform: translateX(-4px) rotate(50deg);
    -sand-transform: translateX(-4px) rotate(50deg);
}
#fix-header-back ul.menu_header .icon-sub-menu.up-icon:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}
#fix-header-back ul.menu_header .icon-sub-menu.up-icon:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
}

#fix-header-back ul.menu_header .icon-sub-menu:after, #fix-header-back ul.menu_header .icon-sub-menu:before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    right: 50%;
    margin-right: -5px;
}

header .header-wrap ul.menu_header .icon-sub-menu {
    position: absolute;
    top: 0;
    right: -5px;
    height: 45px;
    width: auto;
    border-left: 0px solid rgba(92,92,92,.23);
    cursor: pointer;
    background-color: transparent;
    padding-right: 18px;
}


header .header-wrap ul.menu_header .icon-sub-menu:before {
    transform: translateX(3px) rotate(
-50deg
);
    -webkit-transform: translateX(3px) rotate(
-50deg
);
    -moz-transform: translateX(3px) rotate(-50deg);
    -o-transform: translateX(3px) rotate(-50deg);
    -ms-transform: translateX(3px) rotate(-50deg);
    -sand-transform: translateX(3px) rotate(-50deg);
}  
header .header-wrap ul.menu_header .icon-sub-menu:after {
    transform: translateX(-4px) rotate(
50deg
);
    -webkit-transform: translateX(-4px) rotate(
50deg
);
    -moz-transform: translateX(-4px) rotate(50deg);
    -o-transform: translateX(-4px) rotate(50deg);
    -ms-transform: translateX(-4px) rotate(50deg);
    -sand-transform: translateX(-4px) rotate(50deg);
}
header .header-wrap ul.menu_header .icon-sub-menu.up-icon:before {
    transform: rotate(
-45deg
);
    -webkit-transform: rotate(
-45deg
);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -sand-transform: rotate(-45deg);
}
header .header-wrap ul.menu_header .icon-sub-menu.up-icon:after {
    transform: rotate(
45deg
);
    -webkit-transform: rotate(
45deg
);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -sand-transform: rotate(45deg);
}

header .header-wrap ul.menu_header .icon-sub-menu:after, header .header-wrap ul.menu_header .icon-sub-menu:before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: 12px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    transition: background-color .2s ease-in-out,transform .2s ease-in-out,width .2s ease-in-out;
    right: 50%;
    margin-right: -5px;
}

@media screen and (max-width:767px){
    img.only_mobile_show {
       display: block !important;
       width: 100%;
    }
    img.only_desktop_show {
       display: none;
    }
    button.inqure.btn {
       margin-top: 15px;
    }
    .eprince-inner .left-sec-exprince img {
        width: 100%;
        height: 350px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    img.only_mobile_show {
        margin-bottom: 15px;
    }
    div#mySidenav li {
        position: relative;
    }
    img.only_mobile_show {
        height: 320px !important;
        object-fit: cover;
    }
}


.header-wrap ul.menu_header li:hover a ~ ul.sub-menu.life_invest_menu {
    display: block !important;
}
.header-wrap ul.menu_header li {
    position: relative;
    height: 80px;
}

.header-wrap ul.menu_header li:hover a ~ ul.sub-menu.life_invest_menu {
    display: block !important;
    top: 0;
    margin-top: 60px;
    left: 0;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-color: #fff;
    box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    width: 210px;
    padding: 14px 0;
    transition: 0.8s;
}

.header-wrap ul.menu_header li:hover a ~ ul.sub-menu.life_invest_menu li {
    display: block;
    position: relative;
    width: auto;
    font-family: Dosis, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 15px;
    transition: 0.8s;
    cursor: pointer;
}
.header-wrap ul li ul.sub-menu li {
    height: auto;
}
.header-wrap ul.menu_header li:hover a ~ ul.sub-menu.life_invest_menu li:hover {
    margin-left: 4px;
}
header .header-wrap ul.menu_header .icon-sub-menu:after {
    margin-right: -7px;
}
header .header-wrap ul.menu_header .icon-sub-menu {
    right: -2px;
}








   
   
    














